[2020-07-24 21:02] #1139 closed

[2020-07-25 15:18] carolynvs commented on #152
See https://github.com/deislabs/porter-docker

[2020-07-25 15:18] #152 closed

[2020-07-25 15:26] carolynvs commented on #427
Having the .cnab directory is quite useful actually, so we shouldn't delete it. Having it hidden is working well and Guari just opened an issue to look into moving our Dockerfile into the  .cnab directory as well. (#1162)

[2020-07-25 15:26] #427 closed

[2020-07-25 15:27] chris-crone commented on #1049
Anecdotal information: Using `debian:buster-slim` with the Helm and Terraform mixins, I haven't run into any issues.

My `Dockerfile.tmpl`:
[code]

[2020-07-25 15:27] carolynvs commented on #480
Closing for now as we have everything implemented except my half baked suggestion for defaulting using a feature we don't have (and that is represented in other issues).

[2020-07-25 15:27] #480 closed

[2020-07-25 15:50] carolynvs opened #1167 "Switch to all contributors spec?"
What do you think about using the All Contributors spec for our [Contributors](https://github.com/deislabs/porter/blob/main/CONTRIBUTORS.md) page? There is a nice bot to make it easier to add new contributors to the page with a comment.

https://github.com/all-contributors/all-contributors-bot
https://probot.github.io/apps/all-contributors/

[2020-07-26 13:26] chris-crone opened #1169 "Archive SEGV when destination folder does not exist"
## Describe the bug
When running `porter bundle archive folder-does-not-exist/bundle.tgz`, Porter segfaults.

## To Reproduce
Steps to reproduce the behavior:
1. Use any porter.yaml
1. Run `porter bundle archive folder-does-not-exist/bundle.tgz`
1. Segfault

## Expected behavior
Either Porter should: (1) error out saying the destination folder does not exist, or (2) create the destination folder.

[2020-07-27 10:32] MikeLarah commented on #720
This sounds like a perfectly reasonable solution to me. The details in the proposal look good, and enable us to put in place the CI/CD processes we were looking to implement.

[2020-07-27 16:04] vdice commented on #1163
Perhaps a flag particular to `porter uninstall`?  Like `--force` or `--force-remove`, etc.?

[2020-07-27 16:27] gaurimadhok opened #1174 "Mixin schema not embedded in published mixin binary"
## Describe the bug
When a mixin is published, its schema is not embedded in the binary. This is a problem because a person using the mixin will not be able to see what parameters are accepted as part of the schema which could lead to errors they do not know how to fix.

## To Reproduce
Steps to reproduce the behavior:
1. Run `porter mixins install docker`
2. Use the docker mixin in the porter.yam

[2020-07-27 16:28] gaurimadhok commented on #1174
assign @carolynvs

[2020-07-27 16:32] gaurimadhok opened #1175 "Use mixin schema during lint"
**Is your feature request related to a problem? Please describe.**
The mixin schema is not used during porter lint. This is a problem because if a user accidentally mistypes a parameter in their porter.yaml, the mixin schema is not used to validate that the yaml is correct so the user will not receive the correct error about what went wrong.

**Describe the solution you'd like**
As part of porter

[2020-07-27 16:55] carolynvs commented on #770
Closed by #1065

[2020-07-27 16:55] #770 closed

[2020-07-27 16:55] carolynvs commented on #836
Closed by #1065

[2020-07-27 16:55] #836 closed

[2020-07-27 16:55] carolynvs commented on #935
Closed by #1065

[2020-07-27 16:55] #935 closed

[2020-07-27 16:56] carolynvs commented on #937
Closed by #1090

[2020-07-27 16:56] #937 closed

[2020-07-27 16:57] carolynvs commented on #1066
Closed by #1129

[2020-07-27 16:57] #1066 closed

[2020-07-27 16:57] carolynvs commented on #1067
Closed by #1158

[2020-07-27 16:57] #1067 closed

[2020-07-27 16:57] carolynvs commented on #1070
Closed by #1102

[2020-07-27 16:57] #1070 closed

[2020-07-27 16:57] carolynvs commented on #1064
Closed by #1152

[2020-07-27 16:57] #1064 closed

[2020-07-27 17:26] carolynvs commented on #1163
I was thinking about that. Let's say that you uninstalled it without that flag weeks ago and now you want to cleanup the data. Running `porter uninstall --force` would perhaps give people incorrect expectations because we wouldn't execute uninstall again (or shouldn't?). We just want to remove the data from porter.

How about a primary command that removes porter data for a bundle, and a flag for

[2020-07-27 17:35] vdice commented on #1163
Thanks for providing the list of valid scenarios; very helpful.  I like it.  I don't have an issue with `delete`.  It seems to carry enough differentiating behavior from `uninstall`.  (`uninstall` to uninstall the bundle, though the installation record(s) shall remain; `delete` to delete all record(s) of the installation`.)

One follow-up Q: If `porter installation delete <installation>` is invoke

[2020-07-27 19:15] carolynvs commented on #1163
I was thinking that by default the delete command needs to be safe and only remove records if the last command was uninstall and the uninstall was successful. Otherwise they need to use `porter installation delete --force`.

For `porter uninstall --delete` the --force flag already means something else, it means to force pull the tag if it was already cached. We use that flag for anything that supp

[2020-07-27 21:43] vdice opened #1177 "Multiple installations with the same name?"
I may have missed an issue in the backlog related to this, but I'm wondering if we need additional logic in Porter to allow for (or, conversely, enforce the impossibility) of managing multiple installations with the same bundle name.  (Recall that bundle name represents the default installation name, as well as the default name for the credential and parameter set files.)

Today, it seems that if

[2020-07-27 22:28] carolynvs commented on #1139
Yup! @dev-drprasad wrote a plugin to integrate Vault. You can find more info at https://github.com/dev-drprasad/porter-hashicorp-plugins

[2020-07-27 23:00] #1161 closed

[2020-07-28 22:20] #1169 closed

[2020-07-29 08:09] chris-crone commented on #1169
Thanks :)

[2020-07-29 14:28] chris-crone opened #1180 "Porter parses local porter.yaml even when using tag flag"
## Describe the bug
If there is a `porter.yaml` file in the current working directory, Porter systematically parses it even if one is trying to use a bundle directly from a registry.

## To Reproduce
Steps to reproduce the behavior:
[code]

## Expected behavior
I would expect that when doing an operation with `--tag` that the local `porter.yaml` would be ignored.

## Porter Command and Output
See

[2020-07-29 16:15] vdice commented on #1169
Thank you for filing the issue @chris-crone !  By the way, when convenient, can you try building Porter from main again?  If you still encounter issue(s), we can help out asap.

[2020-07-29 16:22] chris-crone commented on #1169
Seems to build now but I do get some shell script errors at the start:

[code]

I'm running on macOS with:
[code]

[2020-07-29 17:14] carolynvs commented on #1169
@simongdavies Can you take a look at what Chris is running into? It seems to be related to your Makefile change that just went in.

[2020-07-29 20:50] vdice commented on #1163
I'll pull this in, working off of Carolyn's design mentioned in https://github.com/deislabs/porter/issues/1163#issuecomment-664531659 and https://github.com/deislabs/porter/issues/1163#issuecomment-664586962

[2020-07-30 21:19] carolynvs opened #1188 "Find invocation image in user facing text and replace with the term bundle image/container"
Everyone I talk to who encounters the term "invocation image" has an immediate negative confused reaction to the term. I think this is a term that maybe makes sense for CNAB but is something that Porter should abstract for its users.

I recommend that we use the term "installer" for user facing documentation and text, replacing any text in the CLI output or documentation. We already use that term

[2020-07-31 18:03] iennae commented on #1146
all the documentation got updated with pull request #1173.

[2020-07-31 18:03] #1146 closed

[2020-08-03 16:10] carolynvs commented on #1164
The fix for this is upstream in cnab-go. Will bump once it's merged

https://github.com/cnabio/cnab-go/pull/226

[2020-08-04 14:54] carolynvs opened #1192 "What should be installed by default with porter?"
To assist with discoverability before with had the package index, we opted to install pretty much everything by default. Now that we have more mixins and some are either more stable, updated more often, and are cloud specific, I think it would be helpful to come up with guidelines for which mixins and plugins should be installed by default and which we should encourage people to use porter to inst

[2020-08-04 14:55] carolynvs commented on #813
This has been expanded upon and is tracked in the epic #975

[2020-08-04 14:55] #813 closed

[2020-08-04 17:32] #1164 closed

[2020-08-04 19:14] fernandoBRS commented on #947
Hello @carolynvs, any updates about the command line support? Thanks!

[2020-08-04 19:28] carolynvs commented on #947
@fernandoBRS Nope! With Porter our GitHub issues is the most up-to-date source of information so whatever you see is the current state. 😀

As for a workaround, if you are aren't using a storage plugin so your credentials are stored on the local filesystem in ~/.porter/credentials you can generate those files yourself in a script. The format is in first post of this issue or you can run through `po

[2020-08-05 13:05] #697 closed

[2020-08-05 13:05] #1100 closed

[2020-08-05 15:00] carolynvs commented on #1092
Working on a fix now so that grouped flags are always applied together.

[2020-08-05 16:01] vdice opened #1197 "Add dependency listing to porter explain"
**Is your feature request related to a problem? Please describe.**
`porter explain` is a great way to see an overview of a bundle, showing bundle parameters, credentials, outputs, etc.

It would be nice to also see a listing of dependencies if the bundle being explained declares them.

**Describe the solution you'd like**
A listing of dependencies shown on `porter explain` when applicable

**Descr

[2020-08-05 17:03] #1092 closed

[2020-08-05 18:28] carolynvs commented on #1197
I like it! 👍

[2020-08-10 14:34] carolynvs commented on #1177
The CNAB spec doesn't disallow using the same name, or changing the bundle definition AFAIK. It would be a good safety rails to check the bundle reference or when not available the bundle name.

Side note: Is the bundle reference on the claim being populated when we install from a tag? I know it was added to the spec but I'm not confident that cnab-go was updated to populate that so we should chec

[2020-08-10 15:16] carolynvs opened #1203 "Make migrations explicit"
_Whelp I wrote this up once already and it got lost in the ether. This one is going to be shorter..._ 🤦‍♀️

Migrating Porter data needs to be an explicit choice that can be delayed until the user is prepared to backup data and take on the additional risk.

[code]

[code]

[2020-08-10 18:27] vdice commented on #1153
So would the general outline of the integration test here be:

1. Install test bundle with pre-v0.28.0 porter release
2. Upgrade test bundle with >= v0.28.0 porter release
(2.5: And/or, may have an explicit migrate step per https://github.com/deislabs/porter/issues/1203)
3. Verify all is well/expected
4. Cleanup

With the following details:
- we can use the current azure plugin code with updated c

[2020-08-10 18:55] fernandoBRS commented on #947
It worked, thanks @carolynvs! 😊

[2020-08-10 19:29] #1105 closed

[2020-08-13 23:26] artursouza opened #1209 "`porter install` crashing on Windows"
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. Run `porter install` as part of the instructions on https://porter.sh/quickstart/
2. See error.

## Expected behavior
Not crash.

## Porter Command and Output
[code]

## Version
porter v0.27.2 (aee93e98)

[2020-08-14 16:14] vdice commented on #1209
Hi @artursouza , thank you for the bug report.  I see in the stack trace the last calls were in a dependency library, [cnab-go](https://github.com/cnabio/cnab-go).  In v0.27.2, we pinned to a specific version.  On canary, the same dependency has most likely changed a bit.  Would it be possible to see if this same behavior is reproduced in the canary version of Porter? (https://porter.sh/install/#c

[2020-08-14 17:45] vdice opened #1210 "Kubernetes resource outputs are single-quoted"
## Describe the bug
Bundle outputs can come from Kubernetes resources, as provided by the `kubernetes` mixin and now the `porter-helm` mixin (https://github.com/deislabs/porter-helm/pull/70).  See an example in the [kubernetes example bundle](https://github.com/deislabs/porter/blob/main/examples/kubernetes/porter.yaml#L20-L24).

However, output values always appear to be wrapped in single quotes.

[2020-08-15 15:10] CSberger opened #1213 "Restore the ability to load parameters from a file-path"
### Problem
When we still had the `param-file` flag, our team got used to storing parameters for our various installations in parameter files in version control.  That way the parameters were transparent and easy to share between environments.  With the removal of the `param-file` flag, and the move to parameter-sets; we refer to parameters by name, and they're stored in the generating user's $HOM

[2020-08-15 18:20] carolynvs opened #1214 "Mixin Idea: Azure Functions"
Installing azure functions tools on linux quickly (without also installing .net core) is a thing that a mixin could really help out with. I've been trying to set it up myself for a bundle and it took a few tries to get right.

`az-func` is one suggested name. Just `func` which is the name of the CLI, seems too general to be a useful name perhaps? I'd be concerned that it would collide with others

[2020-08-16 18:51] carolynvs opened #1215 "bool flag caused a panic"
## Describe the bug
I passed an empty bool flag to a mixin and it caused a panic when it executed.

## To Reproduce

[code]

This also panics:

[code]

## Expected behavior
Definitely not a panic, at least an error if I should have used different formatting. Ideally it should pass my flag appropriately, e.g. `--yes`.

## Porter Command and Output
[code]

## Version
porter v0.27.2 (aee93e98)

The c

[2020-08-17 18:43] vdice commented on #1213
Hi @CSberger , `-p`/`--parameter-set` does currently accept a filepath as an argument, though be aware that it perhaps isn't ideal in the sense that it "auto-detects" whether or not the argument is a name or a filepath -- it looks for the presence of filepath separators for the latter case.

For example, if `myparameterset.json` exists in the current directory, one would need to supply it as:

[co

[2020-08-17 23:27] CSberger commented on #1213
@vdice, The examples you provided were enough to help me figure out that my issue had indeed been with the parameter auto-detection syntax.

If I have a parameter file in my working directory, `testparams.json`, then apparently
`porter upgrade -p testparams.json`
will interpret testparams.json as a name.  Whereas if I run
`porter upgrade -p ./testparams.json`
it will interpret that as a path,

and

[2020-08-18 09:37] dev-drprasad commented on #996
`go mod tidy` added to makefile by https://github.com/deislabs/porter/pull/1143/files#diff-b67911656ef5d18c4ae36cb6741b7965R50
I think we can close it

[2020-08-18 11:20] #996 closed

[2020-08-18 11:39] #1203 closed

[2020-08-18 14:28] vdice opened #1217 "Improve auto-detect of name vs filepath for Cred/Param Sets"
@vdice, The examples you provided were enough to help me figure out that my issue had indeed been with the parameter auto-detection syntax.

If I have a parameter file in my working directory, `testparams.json`, then apparently
`porter upgrade -p testparams.json`
will interpret testparams.json as a name.  Whereas if I run
`porter upgrade -p ./testparams.json`
it will interpret that as a path,

and

[2020-08-18 14:32] vdice commented on #1213
Thank you @CSberger. I've created a follow-up issue to track improving the auto-detect logic especially as pertains the example you've provided above: https://github.com/deislabs/porter/issues/1217

I'll consider this issue closed.

[2020-08-18 14:32] #1213 closed

[2020-08-18 17:20] dev-drprasad commented on #1215
I couldn't understand what this statement saying. may be lack of context ??

Yaml 1.2 dropped boolean representations (`y`, `yes`, 'off' etc) in favour of `true`/`false` values. Unfortunately, go-yaml@v2 parses them as booleans. Luckily go-yaml@v3 supports yaml1.2. Migrating to go-yaml@v3, will fix this issue.

ref: https://github.com/go-yaml/yaml/issues/214

[2020-08-18 17:36] carolynvs commented on #1215
line 89 is casting an untyped yaml key unconditionally to a string, when yaml keys can also be integers or booleans. I believe even after upgrading to v3, someone could make a key using true/false or a number and the line below would panic, right?

https://github.com/deislabs/porter/blob/ed1e19f815839ccd0401aee7cf360dcd9b2231ff/pkg/exec/builder/flags.go#L89

Previously I had a workaround that woul

[2020-08-18 19:29] #1180 closed

[2020-08-19 13:56] #1163 closed

[2020-08-20 17:02] carolynvs opened #1220 "Make porter inspect easier to read"
It's hard to read the output of `porter inspect` right now because the digests are really long, causing lines to wrap. Also we are showing extra information that really isn't applicable because all bundles in the ecosystem are docker based and will be for the foreseeable future.

What if we changed the format a bit to not display redundant information in table mode?

[code]

And then provide a spe

[2020-08-24 14:41] digger18 opened #1224 "porter archive --> Error preparing artifacts: unsupported MediaType: "application/vnd.docker.distribution.manifest.v1+prettyjws""
## Describe the bug
Unable to bundle several images from quay.io, probably related to https://github.com/google/go-containerregistry/issues/377
Getting error `Error preparing artifacts: unsupported MediaType: "application/vnd.docker.distribution.manifest.v1+prettyjws"` during `porter archive`.

## Porter Command and Output
[code]

## My porter.yaml
[code]

## Version
porter v0.27.2 (aee93e98)

[2020-08-24 14:44] digger18 commented on #1224
`porter publish` is not working as well:
[code]

[2020-08-24 15:08] vdice commented on #1224
Thanks for the issue @digger18 .  Alas, last we checked, [Quay isn't a CNAB-compatible registry](https://porter.sh/compatible-registries/).  This unfortunately means that these errors are currently expected.

An issue around improving Porter's UX in this area is currently being tracked in https://github.com/deislabs/porter/issues/822.

[2020-08-24 15:53] digger18 commented on #1224
I am not trying to push to quay.io, just pull images from it.
Is it still not compatible just for pulls?

[2020-08-24 16:10] digger18 commented on #1224
May I suggest taking a look at this PR for go-containerregistry: https://github.com/google/go-containerregistry/pull/408 which should fix this issue, I assume that Porter uses go-containerregistry under the hood?

[2020-08-24 16:21] vdice commented on #1224
Ah, I see.  Thank you for the PR link.  Porter is currently on the following commit of go-containerregistry from Oct 15, '19: https://github.com/google/go-containerregistry/commit/71da34e4d9b3b67878449570720ad1d66466345b ... which appears to be more recent than the commit in https://github.com/google/go-containerregistry/pull/408, so I'm assuming we have that particular change as well.

I'm also i

[2020-08-24 16:58] #1135 closed

[2020-08-24 20:34] carolynvs opened #1226 "Validate that the author didn't use reserved parameter names during porter lint"
Porter has reserved parameter names, for example `porter-debug`, that authors can't use for their own bundles. We should check that the author didn't use any reserved names that would collide with our own naming conventions for parameters, outputs, etc during `porter lint` and hard fail.

[2020-08-25 06:14] digger18 commented on #1224
Another strange error while publishing to a local docker registry v2:
[code]

[2020-08-25 08:45] digger18 opened #1229 "Error on publish to Harbor 2.0 (OCI-compliant) registry"
## Describe the bug
Harbor 2.0 should be fully OCI-compliant (https://goharbor.io/blog/harbor-2.0/) registry, but Porter fails to publish CNAB bundles to it.
In the Harbor UI, there are specific instructions on how to push CNAB packages using `cnab-to-oci` which makes even a stronger case why Porter should be able to publish to it.
The push command is: `cnab-to-oci push CNAB_PATH --target 172.31.3

[2020-08-26 15:08] carolynvs opened #1232 "Document how to share a porter config file"
When working as a team, is there a good best practice for sharing and getting someone setup with a porter config file?

[2020-08-26 15:11] carolynvs opened #1233 "Document the airgap example"
We have an airgap example at [examples/airgap](https://github.com/deislabs/porter/tree/main/examples/airgap) but we still need the following documentation to accompany it:

* example readme
* Airgap walkthrough or something on the website to really explain what's happening in detail
* blog post

[2020-08-26 15:36] #1215 closed

[2020-08-27 13:35] jasmdk commented on #1154
I have the same issue with 0.28.0

[2020-08-27 16:16] #1154 closed

[2020-08-27 17:35] vdice commented on #1229
To double-check, does `cnab-to-oci push CNAB_PATH --target 172.31.33.xxx/library/REPOSITORY[:TAG] --auto-update-bundle` work when the bundle.json generated by Porter is supplied?  (It should exist at `.cnab/bundle.json` in the working directory of the Porter bundle, after `porter build` is run.)

[2020-08-27 18:11] carolynvs commented on #1154
Thank you for reporting (and re-reporting) this problem. It has been fixed in [v0.28.1](https://github.com/deislabs/porter/releases/tag/v0.28.1) which was just realized a few minutes ago.

Please let us know if you are still experiencing any problems!

[2020-08-27 20:19] digger18 commented on #1229
Just tested, it does not work either.
Exact same error.

[2020-08-27 20:55] vdice commented on #1229
@digger18 thank you for testing.  As the errors are the same, I'm tempted to file this under the https://github.com/cnabio/cnab-to-oci repo as a result.  Perhaps some maintainers of that repo might have some ideas.
 Porter is currently on the most recent release of cnab-to-oci, but we can bump when the issue(s) and fix(es) make it into cnab-to-oci.

[2020-08-27 21:23] vdice commented on #1229
Oh wait, I did notice the invocation image name is: `172.31.33.xxx/library/infra-cnab-installer:0.0.1`.  It wouldn't be an official library image, right?  I wonder if the cause of failure is ?  Can the bundle `tag` value in the Porter manifest be provided?  I wonder if somehow `library` is mistakenly replacing an org/domain value you've supplied.

[2020-08-27 21:26] radu-matei commented on #1229
Thanks for reporting this, @digger18.
Could you please try using [this minimal bundle from the `cnab-to-oci` repo](https://github.com/cnabio/cnab-to-oci/blob/master/examples/helloworld-cnab/bundle.json)?

(I don't have access to a Harbor instance right now, but I will try to reproduce it as well.)

[2020-08-27 22:00] vdice commented on #1224
I've created a repro bundle in https://github.com/vdice/porter-bundles/blob/master/publish-repro/porter.yaml.

Indeed, I see the same (and other) errors from some of the images attempted to be copied.  For testing, I've been publishing against a local Docker registry (via `docker run -d -p 5000:5000 --name registry registry:2`).  In that linked bundle, I've added the errors around each problematic

[2020-08-28 05:58] digger18 commented on #1229
I tried to change `library` to `cnab` and it fails with the same error.
[code]

My porter.yaml:
[code]

[2020-08-28 13:13] digger18 commented on #1229
It works with the minimal bundle:
[code]

It led me to the understanding that I require `--insecure-registry` in my `porter publish` command, but it still does not work with my bundle:
[code]

My slightly revised porter.yaml:
[code]

[2020-08-28 13:30] digger18 commented on #1229
When adding `--insecure-registries 172.31.33.128:80` to `cnab-to-oci push` **it actually works with the porter generated bundle.json**! ... but fails on another error which I believe is related to another issue I opened few days ago (https://github.com/deislabs/porter/issues/1224):

[code]

[2020-08-28 13:36] digger18 commented on #1229
I changed `library` to other project name (cnab), it had no effect.

[2020-08-28 15:18] vdice commented on #1229
@digger18 are you able to get the logs from the Harbor registry when the publish error(s) occur?  Any leads there?

[2020-08-28 15:46] #1210 closed

[2020-08-28 17:21] jeffersonbenson commented on #1229
Just wanted to add we're seeing this issue as well publishing inside an Openshift 3.11 environment to an insecure docker registry.

[2020-08-28 17:23] coreyperkins commented on #1229
@jeffersonbenson here's my output

I just ran into this one today using version 0.28.1. I reverted back to 0.27.0 and the problem went away.

Extracting bundle from archive /home/ocpadmin/my/my.tgz...
Beginning bundle publish to <internal ocp ip>:5000/my/my-cnab:0.1.0. This may take some time.
Starting to copy image <internal ocp ip>:5000/my/my-porter-installer@sha256:f12da10ce3f308808c939f87d754c

[2020-08-28 17:51] vdice commented on #1229
Thanks for the extra information, all.  If anyone is/was able to capture logs from the registry being published to, it'd be much appreciated.  Also, I'm curious if using 0.27.2 leads to the same error(s)?  In the meantime, I'll keep attempting to reproduce the issue... looking into spinning up a Harbor registry now.

[2020-08-28 19:07] digger18 commented on #1229
I can confirm that downgrading to Porter v0.27.2 solves this issue:
[code]

However, I had to comment-out one image `docker.io/metallb/speaker:v0.9.3`, because otherwise I am facing a different issue which I think is related to https://github.com/deislabs/porter/issues/1224:
[code]

[2020-08-31 16:04] #1147 closed

[2020-08-31 17:21] MChorfa opened #1239 "Required steps to perform before publication [porter-kubernetes mixin]"
## Porter Kubernetes mixin extraction from the main porter project
A new Kubernetes mixin was created <https://github.com/deislabs/porter-kubernetes>. Now we need to follow this proposed process to make sure everything is working as intended.

## Checklist:

- [x] Put in place (azure devops) CI to run  build/tests against PRs and publishing from main  or tag: https://github.com/deislabs/porter-kub

[2020-08-31 17:49] MChorfa opened #1240 "Remove the Kubernetes mixin code from the deislabs/porter main project"
Remove the Kubernetes mixin code from the deislabs/porter main project and point to the new Kubernetes mixin package This issue requires all the steps listed in this issue: https://github.com/deislabs/porter/issues/1239 have been performed before starting working on this.

[2020-09-01 15:57] vdice commented on #1229
I still hadn't successfully installed Harbor via the [Helm chart approach](https://github.com/goharbor/harbor-helm) (Any tips?  I tried to start w/o TLS, but maybe it'd be best to invest in the time to set it up).

However, I did experiment w/ the [demo instance](https://demo.goharbor.io/harbor).  I was able to successfully publish a few bundles and am as of yet unable to reproduce an error.  Howe

[2020-09-02 12:30] jasmdk opened #1241 "Unable to edit parameters on Windows"
## Describe the bug
It is possible to generate a parameter set using `porter parameters generate` but when trying to edit it afterwards with `porter parameters edit` it fails

## To Reproduce
Steps to reproduce the behavior:
1. Run `porter parameters generate myparams`
2. Use any porter.yaml that defines one or more parameters
3. Run this porter command `porter parameters edit myparams`
4. See err

[2020-09-03 18:48] vdice opened #1243 "Dependencies not installed via declared order?"
## Describe the bug
As of https://github.com/deislabs/porter/pull/1170, Porter should support ordered dependencies.  However, I'm seeing cases where the execution of dependencies does not follow the order declared in the manifest.

## To Reproduce
Steps to reproduce the behavior:
1. Run `porter install`
2. Use this porter.yaml:
[code]
4. While the manifest above declares `nfs` first, then `cowsay`

[2020-09-03 18:48] vdice commented on #1243
cc @MChorfa

[2020-09-03 19:02] MChorfa commented on #1243
Oh, I thought this test https://github.com/deislabs/porter/blob/10efa6826a4a0543f0b693b517cd9e79acbee7f0/pkg/manifest/manifest_test.go#L81 made the processing was made in order

[2020-09-03 19:03] MChorfa commented on #1243
The place I suspect is coming from runtime-manifest when executing the deps

[2020-09-03 20:06] #1197 closed

[2020-09-04 15:03] #1243 closed

[2020-09-04 19:03] MChorfa commented on #1240
Note: Working on it

[2020-09-08 16:47] carolynvs opened #1247 "Add assign-issues github action to mixins"
We use the following github action to automatically add all new issues to our project board

https://github.com/deislabs/porter/blob/main/.github/workflows/assign-issues.yaml

Let's add this to our mixin repos so that they get that automatically as well.

[2020-09-08 20:30] #1240 closed

[2020-09-09 14:09] carolynvs opened #1249 "Move out of deislabs organization"
As part of the acceptance of our CNCF sandbox application, we are moving out of the deislabs github organization into one that we created a while back just for this purpose: https://github.com/getporter/

Our larger set of tasks for the application is being tracked in https://github.com/cncf/toc/issues/533.

https://docs.github.com/en/github/administering-a-repository/transferring-a-repository

-

[2020-09-09 14:18] carolynvs opened #1250 "Add DCO check"
As part of the move to the CNCF, we will drop the Microsoft CLA bot and switch to DCO.

https://github.com/cncf/foundation/blob/master/charter.md#11-ip-policy

- [x] Update docs to explain the DCO and remove any reference to the CLA bot.
- [x] Remove the CLA Bot as a required pull request check.
- [x] Remove the Microsoft users from our repositories that runs the CLA bot.
- [x] Enforce the DCO on

[2020-09-09 15:06] carolynvs opened #1251 "Add CNCF to getporter org"
GitHub: ensure 'thelinuxfoundation' and 'caniszczyk' are added as initial org owners, this helps us make sure we have continuity of GH ownership

[2020-09-09 15:08] carolynvs opened #1252 "Transfer porter.sh to CNCF"
- [x] Transfer domain registration to CNCF/LF
- [x] Move to CNCF netlify team, transfer DNS + website there
- [x] Ask if we can use Netlify analytics and drop google analytics
- [x] ~If not, transfer our GA website somehow or change the code if need be (really hope we can do netlify analytics instead)!~

[2020-09-09 15:11] carolynvs opened #1253 "Update website footer with CNCF"
- [ ] Website: ensure LF footer is there and website guidelines followed
- [ ] Remove deislabs from footer

[2020-09-09 15:14] carolynvs opened #1254 "Transfer IP to CNCF"
Trademarks: transfer any trademark and logo mark assets over to the LF

- [x] Sign [CNCF Trademark and Account Assignment Agreement](https://github.com/cncf/foundation/blob/master/agreements/CNCF%20Trademark%20and%20Account%20Assignment%20Agreement%20(2020%20-%20no%20reg%20trademarks).pdf)
- [x] Update logo on repo and site, we are dropping the old one as part of the transfer
- [x] Provide updated

[2020-09-09 15:16] carolynvs opened #1255 "Ask CNCF about discourse"
CNCF provides discourse as one of their services for projects, e.g. discourse.kubernetes.io. Let's ask about getting one setup for us since we've wanted one for a while.

https://www.cncf.io/services-for-projects/#tools

[2020-09-09 15:45] carolynvs opened #1256 "Create GOVERNANCE file"
Let's document how the project is governed today, not changing anything yet, in a GOVERNANCE.md file. Over time we can iterate and improve this to make the project more transparent and inclusive.

* https://github.com/opengovernance/opengovernance.dev has examples of governance files from other projects.
* https://sustainers.github.io/governance-readiness/ also has good questions to ask when writi

[2020-09-09 15:49] carolynvs opened #1257 "Update weekly dev meeting"
- [ ] Ask CNCF for a zoom and host code that any of the maintainers can use to host the meeting
  * put host code in keybase
- [ ] Update the link in netlify's static redirects to point to the new url
- [ ] Put dev meeting on contributing.md so people know about it better

[2020-09-09 15:52] carolynvs opened #1258 "Ask CNCF about CI against public clouds"
We currently do not run our CI against aws and gcp even though we have mixins for both of those clouds because we don't have hosting plans with them. Let's ask the CNCF about being able to run scheduled small workloads to validate the mixins.

[2020-09-09 16:41] MChorfa commented on #1239
All tasks completed 🎉 !

[2020-09-09 16:42] #1239 closed

[2020-09-09 16:43] vdice commented on #1239
👏 Thank you @MChorfa !

[2020-09-09 18:12] iennae commented on #1249
pretty sure Azure Pipelines is a delete/recreate as well as it's based off the org name and it would change based on location. Leaving it even if it works might be problematic.

[2020-09-09 19:48] carolynvs commented on #1251
I have invited both to the getporter organization and made them org owners.

[2020-09-09 20:08] carolynvs commented on #1249
Ah okay yeah makes sense. I'll make a new pipelines org called getporter and recreate them there.

[2020-09-10 23:17] MChorfa opened #1259 "Porter is not able to pull dependencies from a private registry"
## Describe the bug
Porter is not able to pull dependencies from a private registry.
What happen is that the dependencies pulled before docker get authenticated.

## To Reproduce
[code]

## Expected behavior
Porter pull dependencies from private registries

## Porter Command and Output
[code]

## Version
porter v0.29.0

## Possible fixe:
Make porter authenticate against a dependency registry or pa

[2020-09-12 09:58] squillace opened #1260 "Porter builds bundle with invalid name, then throws exception on install"
## Describe the bug
Porter will build a porter.yaml file that contains an invalid name. On installation, the error will appear and the "invalidly named" bundle will fail to install.

## To Reproduce
Steps to reproduce the behavior:
1. Build a bundle with spaces in the name: `name: Github Accelerator Demo`
2. Install the bundle and receive this error

![image](https://user-images.githubusercontent.

[2020-09-12 13:36] squillace opened #1261 "Need programmatic tag functionality; bundle and invocationImage"
**Is your feature request related to a problem? Please describe.**
When you build a porter.yaml file locally, you can drop the tag in with the tag: key inside the porter.yaml file. For developers, this is all well and good. But for automated iterative builds, _the tag name will never increment unless you manually change it inside the porter.yaml. This means that the precision we use to precisely i

[2020-09-12 20:18] MChorfa commented on #1261
AS a workaround you can have a CI step where you can:

## - generate-bundle-file: Command line to generate porter.yaml file from template.

[code]

### The template file "porter.yaml.tmpl" would look like
[code]

[2020-09-13 17:58] squillace opened #1262 "Doc bug linked to az mixin bug"
## Describe the bug
https://github.com/deislabs/porter-az/issues/17 documents that there's no `suppress-output` value in the porter-az schema for the az mixin. However, https://porter.sh/mixins/az/#suppress-output documents that this is available and even has a section on it.

## To Reproduce
Steps to reproduce the behavior:
1. Run `...`
2. Use this porter.yaml from this repository or gist
3. Run

[2020-09-14 16:17] vdice opened #1264 "Docs: Section on .dockerignore utility"
We should add a page or section mentioning the utility of creating a `.dockerignore` file in a bundle directory.  For non-trivial bundles, adding files/dirs to the .dockerignore can significantly reduce the size of the generated installer image.

cc @squillace

[2020-09-14 16:27] vdice commented on #1261
For full-fledged support of the mentioned CI/dynamic override use cases, see https://github.com/deislabs/porter/issues/1151

Does that proposal meet the needs mentioned here?  I think we're about ready to work on this, so please do check it out and contribute feedback.

[2020-09-14 16:44] squillace commented on #1151
This looks good, start with the long flags -- these will mostly be automated anyway. One question, @vdice. We discussed somewhile ago the idea that Porter would include the built docker file's digest automatically, so that you don't have to build the bundle, publish it (to establish the invocationImage's digest) and THEN go back into the porter file to update with the digest of the image to make i

[2020-09-14 16:48] squillace commented on #1151
Other questions:
- is there EVER a UX scenario in which the installer image would differ in tag from the bundle?
- why on god's green earth would someone use the name, registry, and tag elements and then also use the repository key? what would you GET out of that? It this merely to rename the current --tag item?

[2020-09-14 18:55] vdice commented on #1151
@squillace

Hmm, I don't believe we have a proposal for this.  Do we have an issue(s) already?

I wouldn't think so.  There's no longer a way to set a custom invocation image name in Porter, so if bundles are built via recent versions of Porter, then they'll always match.

I don't think we're expecting users to override all four.  Rather, I can see use cases for overriding only the `tag` _or_ only

[2020-09-14 21:33] carolynvs opened #1266 "Remove google analytics from website"
When we moved porter to the CNCF netlify, we turned on Netlify Analytics and no longer want to use google analytics. So we need to remove google analytics from our website footer.

[2020-09-15 09:41] BastienM opened #1268 "Toggle buildkit features in porter.yaml"
**Is your feature request related to a problem? Please describe.**
Porter `build` fails when using the `terraform` mixin with git-based modules.
[code]
Using the `--debug` flag clearly shows:
[code]

**Describe the solution you'd like**
#### Quick and dirt solution
Execute `terraform init` before `porter build`.

#### More elaborated solution
Add a toggle to allow Porter (and mixins) to enable bui

[2020-09-15 15:28] vdice commented on #1259
@MChorfa the dependencies can be pulled if the user is already logged in to any/all of the private registries (via `docker login ...`) prior to invoking porter commands, right?  (The authentication support in the dep config is interesting, but wanted to double-check the prior question first.)

[2020-09-15 19:33] #1262 closed

[2020-09-16 02:30] MChorfa commented on #1259
@vdice Yes `docker login ...` was executed prior to any porter command .. even with passing  `--allow-docker-host-access` . I think the docker `authConfig` is not propagated when pulling a bundle https://github.com/deislabs/porter/blob/4b2bf0f8c68a4892a3955adc61a975e07f4675f6/pkg/cnab/cnab-to-oci/registry.go#L61

[2020-09-16 16:27] coryodaniel opened #1270 "Is there a CHANGELOG?"
**What is your question?**
Does porter have a changelog?

**What have you tried already?**
I haven't interacted with it in a while and I'm curious about what has changed!

**Where have you looked already to figure this out?**
Grepped the repo and couldn't find one.

**Was the existing documentation unclear or had gaps?**
If you found a page that should have answered your question but didn't, let u

[2020-09-16 17:28] vdice commented on #1259
I wonder if this occurs only for some registries with different auth mechanisms?  For instance, I didn't have any trouble installing a bundle with dependencies from my private Azure Container Registry.

I'm seeing that the error is: `failed to authorize: failed to fetch anonymous token: unexpected status: 403 Forbidden` as opposed to the error I get when I'm not logged in to the aforementioned Azu

[2020-09-16 18:10] vdice commented on #1250
For `Enforce the DCO on pull requests`, we'll have to do this on an ad hoc basis.  The new check will only become eligible for making required once the next PR is issued in a given repo.

[2020-09-16 18:26] vdice opened #1272 "Recreate the Roadmap project"
It seems we've lost the previous Roadmap project that existed when this repo moved to its new org (it appears projects don't migrate 😬 ).

We need to recreate the Roadmap project and update links in source/docs.

[2020-09-16 18:58] vdice opened #1274 "Update LICENSE in repos"
As part of the move to CNCF, each repo license needs to migrate to [Apache 2.0](http://www.apache.org/licenses/LICENSE-2.0)

[2020-09-16 19:28] carolynvs commented on #1272
I fiiiiiixed it!

[2020-09-16 19:28] #1272 closed

[2020-09-16 19:29] carolynvs commented on #1250
Are we ready to enable the DCO bot?

[2020-09-16 19:29] carolynvs commented on #1255
Update: We are going to try to get into the Github Discussions beta

[2020-09-16 19:44] carolynvs opened #1276 "Production assets cloud account"
Our downloads are currently hosted in the DeisLabs Azure blob storage account. I have no idea if that's cool to keep doing or not. At the very least lets document that so that it's clear and no one forgets.

[2020-09-16 20:28] vdice commented on #1250
It's enabled on all repos in this org, so should run checks automagically.  We see it doing so in getporter/porter, but let's double-check in any of the others.

[2020-09-16 20:31] carolynvs commented on #1250
Oh cool, how did you turn it on?

[2020-09-16 21:02] vdice commented on #1250
When I configured the integration (via https://github.com/apps/dco), I selected 'apply to all repos' (or something like that)... so, all of the repos we migrated automatically get the check.  (And all subsequently-created repos in this org will get it; but we can update the app config if this isn't what we wish in the future.)

[2020-09-16 23:27] vdice commented on #1250
I've now set the DCO check as required in all Porter repos as I push PRs for org updates.  Closing!

[2020-09-16 23:27] #1250 closed

[2020-09-17 15:42] squillace commented on #1261
@vdice here's what I do now to make this work. :-P https://github.com/squillace/gh-cnab/blob/master/.github/workflows/main.yml

[2020-09-17 15:50] vdice commented on #1270
Hi @coryodaniel,

Great question.  Porter doesn't currently have a CHANGELOG, but I'd think it would definitely be worth considering adding one.  Right now, the best way to get an overview of changes over time is to scan the release notes on the [Porter releases](https://github.com/getporter/porter/releases) page.

[2020-09-17 16:00] squillace commented on #1151
@vdice

I agree, good point. Here's an example of what I did in order to repoint a bundle at two different registries (Notice that GHCR requires a format of registry/org/repo/imagename:imagetag, which is a different formal requirement than others. So breaking them out is good, and letting me rewrite the entire thing is good for non-standard strings. https://github.com/squillace/gh-cnab/blob/58554f

[2020-09-17 16:49] vdice opened #1279 "Update netlify docs preview"
Update/re-enable the netlify docs preview check on PRs

[2020-09-17 17:24] coryodaniel commented on #1270
That's a well kept release page! Thanks.

[2020-09-17 17:24] #1270 closed

[2020-09-17 19:55] vdice opened #1280 "Publish example bundles to ghcr.io?"
It looks like [GitHub Container Registry](https://github.blog/2020-09-01-introducing-github-container-registry/) may now support CNAB/Porter bundles!  Do we want to start publishing Porter's main example (and CI?) bundles to its inherited `ghcr.io/getporter` registry?

If so,

- [x] Test out the ghcr registry and validate it's all good (oh, perhaps update https://porter.sh/compatible-registries/ w

[2020-09-17 20:06] vdice opened #1281 "Update GH token secret for assign-issues action"
Although the assign-issues GH action was reconfig'd in https://github.com/getporter/porter/pull/1271, the secret that it uses (MY_GITHUB_TOKEN) needs to be updated to work properly.

[2020-09-17 20:59] vdice commented on #1274
Done!  🙇 thanks for the reviews @carolynvs !

[2020-09-17 20:59] #1274 closed

[2020-09-18 14:14] carolynvs commented on #1162
Heads up when this is implemented, we will need to tweak the exclude fix with the updated Dockerfile/dockerignore names per https://github.com/getporter/porter/pull/1263

[2020-09-18 14:57] MChorfa commented on #1259
@vdice Sorry for the confusion 😅. The private bundles are pulled from different registries 😅  . Otherwise, it works for the same registry. Is it a false positive? Or you think it worth the investment to allow pulling bundles from heterogeneous registries?

[2020-09-18 16:00] carolynvs commented on #1279
All fixed!

[2020-09-18 16:00] #1279 closed

[2020-09-18 16:01] carolynvs commented on #1251
Done!

[2020-09-18 16:01] #1251 closed

[2020-09-18 16:02] carolynvs commented on #1249
@vdice By assets I just meant URLs, github markdown, website text, etc. I think this is covered by everything you have been doing for the past few days so when you think you are done, feel free to close.

[2020-09-18 16:23] vdice commented on #1249
Although some PRs still await reviews, all the work in this ticket has been implemented!  Closing.

[2020-09-18 16:23] #1249 closed

[2020-09-18 16:55] vdice commented on #1259
I'm still slightly confused.  `docker login` supports capturing multiple logins for different registries.  So, even if the user is logged in to all of the private registries before attempting to install the bundle, error(s) are still encountered?

[2020-09-18 17:01] carolynvs opened #1285 "Remove import path comments"
Now that we use go modules, we should remove the import path comments as they aren't supported anymore.

For example:

[code]

This impacts all of our repositories... 😭  It isn't breaking anything unless the comment is wrong, then it can break a build depending on the version of go and other conditions that I've forgotten maybe it's go 1.14+?

[2020-09-18 18:04] carolynvs opened #1286 "Fix setup instructions to not need GOPATH"
Our setup instructions in CONTRIBUTING.md say that you must use GOPATH but I don't believe that is true anymore now that we are on go 1.13 and use go mods. Let's confirm that and update the docs.

[2020-09-18 20:14] MChorfa commented on #1259
OH, we didn't do multiple logins :( ...I'll get back with this

[2020-09-20 23:47] #969 closed

[2020-09-21 14:52] carolynvs commented on #1035
We have finally changed instance to installation, so that part has been taken care of. 👍

[2020-09-21 19:41] carolynvs commented on #1280
I think we are really close but not there yet. Based on what I've heard on the chatter in our Slack channel, push works but not pull yet due to the media type *mumble mumble*. 😀 But yes I would love to use GitHub Container Registry once it's ready for bundles!

[2020-09-21 19:46] carolynvs commented on #1255
We have github discussions now! 🎉

[2020-09-21 19:46] #1255 closed

[2020-09-21 19:53] vdice opened #1291 "Test issue"
Issue to test Porter's assign-issues GH action...

[2020-09-21 20:24] MChorfa commented on #1280
I tested yesterday and it was conclusive for me :) https://github.com/orgs/mch0rfa/packages

[2020-09-21 20:30] carolynvs commented on #1280
Oh cool! I didn't follow that thread on slack far enough to see that they patched pull. 💯

[2020-09-21 20:33] carolynvs commented on #750
I have been seeing this more often in failed builds and I have a suspicion it's due to this issue not being done.

bad status returned when downloading https://cdn.porter.sh/plugins/atom.xml (503)

[2020-09-21 21:27] #1291 closed

[2020-09-21 21:27] vdice commented on #1281
Done!

[2020-09-21 21:27] #1281 closed

[2020-09-21 21:48] simongdavies opened #1292 "custom entries with object or array values in porter.yaml cause build failures"
## Describe the bug
Adding custom data to a porter manifest will cause porter build to fail unless the value for the custom key is a scalar value. This is because yaml unmarshall will de-serialise the value into map[interface]interface{} type which subsequently cannot be serialised to json based bundle.

## To Reproduce
Steps to reproduce the behavior:
1. Use porter.yaml from https://gist.github.c

[2020-09-21 22:43] #1035 closed

[2020-09-22 17:11] carolynvs commented on #1252
@flynnduism Is the domain transfer complete?

[2020-09-22 17:37] vdice commented on #1276
We currently have some details doc'd in https://github.com/getporter/porter/blob/main/infra/cdn.md.  Are there other details regarding Porter's production asset account/hosting we should add (or improve)?

[2020-09-22 17:57] #1253 closed

[2020-09-22 17:57] #1266 closed

[2020-09-22 18:06] carolynvs commented on #1276
Those are some mighty fine docs. I'm going to leave this open until we have an answer on if we need to disentangle the subscription or not. But the docs are perfecto! 👏

[2020-09-22 18:21] carolynvs commented on #1260
The bundle name is valid however Porter has problematic defaulting logic for when the user installs a bundle and doesn't specify the installation name. When the installation name isn't specified on the command line, e.g. `porter install INSTALLATION_NAME --tag TAG`, porter will use the name of the bundle as the installation name.

The bug is that we aren't properly replacing spaces and other speci

[2020-09-23 17:18] #1256 closed

[2020-09-24 12:10] squillace commented on #1280
Here is the deal: you must not have the repository _private_; if you do, you must manually set the registry/packages to be public or it will not work to pull! This makes complete sense, so it does work like this:

- if the repo is public, push and pull both work. You MUST however currently use a personal access token to auth for push. The fix for this is in the works so eventually you'll be able t

[2020-09-24 12:11] squillace commented on #1259
yeah, I have like eight registries logged in, and it pulls from each....

[2020-09-24 12:12] squillace commented on #1232
@carolynvs what do you mean here? what does "share" mean?

[2020-09-24 12:15] squillace commented on #1229
@digger18 and @jeffersonbenson are you still having this problem? Harbor is darned important and OS well, you betcha

[2020-09-24 12:16] squillace commented on #1214
@carolynvs I have two function mixins for this reason. I suggest holding off as there are changes happening in the functions world. But I'll have the functions team wade in there when they get stable.

[2020-09-24 14:31] digger18 commented on #1224
Any update on this?

[2020-09-24 14:36] carolynvs commented on #1280
Thanks for digging in and figuring out the details. I spoke with the other maintainers and we'd like to do dual pushing for a while between docker hub and GitHub Container Registry, maintaining our bundles and examples on both for a period of time until it is stable to just be on one.

[2020-09-24 15:30] squillace commented on #1280
I was doing that -- you can do it, but there's something wonky with the azure/docker-login action and I found I could do it fine with the docker/login action.

[2020-09-24 20:15] #1126 closed

[2020-09-25 14:32] jeffersonbenson commented on #1229
@squillace We seem to have resolved the issue for now. I believe the issue was in how we had our registry configured. Thanks!

[2020-09-25 14:43] carolynvs commented on #1232
Say that a team manages their bundles with Porter and stores their secrets and Porter history in the cloud. Each of their config will look terribly similar if not identical. Now a new person comes on the team and needs to get set up with Porter.

What does that setup experience look like for them?
Are they copying around a magic config file from their co-workers?

This is a placeholder to think ab

[2020-09-25 16:51] squillace commented on #1229
any tips for others that might help before you go poof? If we haven't gotten there yet, a short tl;dr: might be great if you have a moment...

...it's usually a typo...

[2020-09-25 16:54] squillace commented on #1232
Aren't you suggesting that config.toml is just a dotfile? I'd imagine that the settings in the config.toml would also be matched by env vars set in .bashrc eventually, too.

[2020-09-25 18:42] iennae opened #1302 "blog design: dangling date in single blog post view"
I'm not sure if it's intentional or not but it seems like the date is dangling off to the side on the single blog post view.

Example page: https://porter.sh/blog/docker-mixin-blog-post/

If it's intentional just close this issue.

---
Notes:
* Goal: Make the date look prettier for blog post pages. Either directly under the title or what I was trying to do was make it on the same level as the titl

[2020-09-28 14:54] jeffersonbenson commented on #1229
I guess tl;dr since this is an API call to Docker, ensure that your service fabric isn't having any known networking issues, and possible push to another known good registry (even temporarily) just to make sure it's not an issue with your bundle itself.
All else fails, try an older version of Porter, since it's really easy to shift versions if you're a lay user like myself 😁

[2020-09-28 15:51] vdice commented on #1224
Unfortunately, no updates here.  These are errors coming straight from the referenced libraries (go-containerregistry and cnab-to-oci), both of which were tested with their latest variants.  We would need to spend some time with both to debug the issues and/or inquire with the upstream dependencies.

[2020-09-28 19:51] carolynvs commented on #1302
I've just created a new label "website" for items related to graphic design, html, css, etc. That way people with those skills can filter for issues that they can help with.

Unfortunately, those are skills that I am always happy to timebox and do the best I can but can't promise to be able to achieve what is asked for. 🤷‍♀️

[2020-09-29 03:50] digger18 commented on #1224
Should I create the issue there?

[2020-09-29 18:27] vdice commented on #1224
@digger18 I had some spare cycles this morning to revisit.

When reviewing my repro bundle (based on the bundle provided in this issue), the two main errors produced by the stock docker registry (v2) are/were:

- "digest invalid"/"canonical digest does match provided digest"
- "invalid URL on layer"/"manifest blob unknown"

My hunch was that the first class of errors was due to problematic image t

[2020-09-29 18:51] carolynvs opened #1305 "Ensure content digest is populated for all published bundles"
* When you run a bundle locally, we should allow the content digest to not be set
* When it's a bundle run from --tag, it MUST be set, we will error out otherwise
* Ensure that the digest is always set when porter publishes a bundle

[2020-09-30 19:56] carolynvs commented on #1252
Transfer complete!

[2020-09-30 19:56] #1252 closed

[2020-09-30 19:56] flynnduism commented on #1252
Yes the domain handover is complete

[2020-09-30 20:17] vdice opened #1307 "Update digest field in images map to use contentDigest"
As discovered in https://github.com/getporter/porter/pull/1306, the digest field for a Mapped Image is still `Digest` with a yaml tag of `digest`.  These need to be updated to `ContentDigest`/`contentDigest` in accordance w/ the spec (https://github.com/cnabio/cnab-spec/blob/master/101-bundle-json.md).

[2020-10-01 03:09] MChorfa commented on #1259
@vidice; I can confirm that logging a pulling from multiple registries is working perfectly
[code]
I think we should close this bug and create an issue to document the fact that we are able to pull from multiple registries. where a bundle contain dependencies that were published into private and public registries

[2020-10-01 12:28] MChorfa commented on #1229
The latest version of harbor works as a charm https://github.com/goharbor/harbor/releases/tag/v2.1.0 . Just follow the installation steps and you should be good to go.
![image](https://user-images.githubusercontent.com/183869/94808980-efb22b00-03bf-11eb-996e-e4a9d58bb322.png)
![image](https://user-images.githubusercontent.com/183869/94809029-022c6480-03c0-11eb-94f3-1dcb481252d4.png)

[2020-10-01 13:58] vdice commented on #1259
@MChorfa great news!  Thank you for confirming.  Definitely in support of some docs that specifically show this use case is supported.

[2020-10-01 13:58] #1259 closed

[2020-10-04 00:20] MChorfa commented on #767
@vdice this issue is resolved

[2020-10-07 16:49] #1302 closed

[2020-10-08 16:22] #767 closed

[2020-10-08 17:05] jasmdk opened #1320 "Using file type parameters from parameterset on published bundle fails with base64 encoding issue"
## Describe the bug
When I have a parameter of type 'file', it is correctly available when invoking actions for the bundle in the current working directory, but if invoking the action on a published bundle (porter install --tag ...) it fails with "invalid base64 value"

## To Reproduce
Steps to reproduce the behavior:
1. Define a parameter of type 'file' and set a destination path.
2. Create a par

[2020-10-09 17:45] carolynvs commented on #1209
@artursouza I have confirmed that install on Windows 10 is working on `v0.29.1`. I'm working on adding a regular test to catch regressions like this in the future.

I'm going to close the issue since it's working at the moment but if you run into trouble again please let us know!

[2020-10-09 17:45] #1209 closed

[2020-10-13 03:49] squillace opened #1326 "porter uninstall REQUIRES the tag if installed from tag"
## Describe the bug
`porter uninstall` requires the usage of a `--tag` switch if the bundle was installed from a `--tag`. I expect to be able to install from a tag, and uninstall from the `installations` name.

## To Reproduce
Steps to reproduce the behavior:
1. `porter install --tag ghcr.io/squillace/cncf-projects-app/cncf:v0.1.8 -c <creds name>`
2. After installation, run `porter uninstall cncf-

[2020-10-14 00:02] squillace commented on #1326
Now this is interesting. Above, the output and version are from WSL Ubuntu 20.04 running on Windows VM.

Note this on Mac, and the porter version:

[code]

porter v0.29.0 (5e7240cf)

So there may be a regression between .29.0 and .29.1. ???

[2020-10-14 00:07] squillace commented on #1326
I've updated to .29.1 on mac, and it kicks off. so perhaps I need to go test this on WSL/Windows and figure out whether there's some pathing that affects what happens? Or that the docker socket is subtly different?

 🔋 97% (5:14)  porter uninstall -c cncf cncf-projects-app                                                                                                ✔  10226  20:05:48
uninstal

[2020-10-14 00:30] squillace commented on #1326
GOT IT. if I specify the option `-c creds` at the end, AFTER the installation name, it fails. but if I reverse it. This is pretty much what it says in the documentation, but the precise order was unexpected. Not great, imho, but not a problem to concern ourselves with. :-)

[code]

[code]

[2020-10-14 18:16] carolynvs opened #1328 "Split up PORTER_HOME"
Currently PORTER_HOME (defaults to ~/.porter) contains all kinds of files: porter binaries, mixins, plugins, cache, bundle installation data, etc. This doesn't follow standards for separating installation data from user data and is a problem for us packaging up [Porter for Homebrew](https://github.com/getporter/porter/discussions/1310) (and will probably be a problem for Chocolatey as well).

Let'

[2020-10-15 21:02] carolynvs commented on #1326
This actually looks like it may either be a bug or we are missing a bit of what happened between the first and second command from your issue repro steps.

In the first command, Porter recognized the installation name just fine. So the arguments were parsed. It seems like the problem was that perhaps you weren't logged into the registry and the bundle's invocation image wasn't in the docker cache

[2020-10-15 21:26] carolynvs commented on #1264
ooh yeah! We have a .dockerignore generated during `porter create` but we don't document anywhere the why/how.

[2020-10-15 21:30] carolynvs commented on #1217
Right now the code looks for a filepath separator. A couple other things we can do:

* Look for ".json" too
* Try it as a file first, and if so, just treat it as a file and otherwise it's a name of a credential set
* Split the flag to be explicit

[2020-10-15 21:47] squillace commented on #1264
tell me where I should write something up, as #960 taught me what to say

[2020-10-15 22:18] carolynvs commented on #1241
I wasn't able to reproduce this on Windows using Powershell or WSL2 with `v0.29.1` but we haven't made any recent changes that would have fixed it.

Are you still able to reproduce this error? If so, which shell are you using and are on Windows or are you in WSL?

What is the value of your `EDITOR` and `SHELL` environment variables? If you have EDITOR set, can you try unsetting it then re-running

[2020-10-15 22:22] carolynvs commented on #1264
Right now we have a page for https://porter.sh/custom-dockerfile/ that shows up under "Author Bundles" in the left hand nav. Let's do the same for the dockerignore.

Take a look at these for an example of how to make the new page and link to it:

* https://github.com/getporter/porter/blob/main/docs/content/custom-dockerfile.md
* https://github.com/getporter/porter/blob/1f32693b10f783f299c12290b924

[2020-10-16 23:39] sdeoras commented on #721
We are exploring this path as well. I am having difficulty understanding how to automate `param` and `creds` generation. Is it possible to generate params and creds without interactive mode? Thanks.

[2020-10-17 19:59] sestegra commented on #1328
`make install` target should be adapted as well.

[code]

[2020-10-17 22:10] sestegra commented on #1328
I suggest to use `runtimes` with a `s`, because others directories are plural.

[2020-10-17 23:16] sestegra commented on #631
Blocked by #1328

[2020-10-19 15:40] carolynvs commented on #1328
Thanks! I've updated the OP with your feedback so it's all in one place.

[2020-10-19 17:37] RichiCoder1 commented on #975
This boat may have sailed, but a terraform-like experience where mixins are defined in the `yaml` and then an init command managed pulling them to a bundle-temp dir would be great. Would simplify management and caching too.

[2020-10-19 17:48] RichiCoder1 commented on #167
If I'm understanding this, this would be great to allow support for things like `terraform plan` and `helm --dry-run` to do what-ifs in CI (if that makes sense?)

[2020-10-19 18:15] carolynvs commented on #167
I left out a bit of context in the OP so let me fill in a bit. 😀 I don't believe anything is stopping someone from making a [custom action](https://porter.sh/author-bundles/#custom-actions) right now that does these things. They could then execute it like this `porter invoke --action dry-run`. If you run into trouble doing that, let us know.

This issue was based on feedback from people that perha

[2020-10-19 18:48] #167 closed

[2020-10-19 23:06] #1305 closed

[2020-10-20 14:24] #1307 closed

[2020-10-20 18:25] vdice commented on #1320
Thank you for the bug report.  I'll take a look.

[2020-10-20 22:57] vdice commented on #721
Hi @sdeoras , currently the porter CLI only supports interactive generation of creds and params, though we'd like to change this (see https://github.com/getporter/porter/issues/1080).  That being said, if one creates a JSON file from scractch following the pattern of an existing cred or param set and then supplies this when running an action on a bundle, it should work.  (Not ideal, of course!)

[2020-10-20 23:04] sdeoras commented on #721
Thank you @vdice . I'll work with JSON files in the mean time.

[2020-10-22 00:44] sdeoras opened #1332 "is gcr fully supported for porter workflow"
**What is your question?**
I am trying to use gcr private registry for cnab bundles via porter and running into some issues.

**What have you tried already?**
porter publish pushed all the layers but gave an error at the end:
[code]
Despite error I do see container images on gcr, however, tags are not displayed correctly. In particular, `my-app-cnab-installer` tags are correct, but `my-app-cnab` i

[2020-10-22 16:55] vdice opened #1333 "Manifest: Use registry and repository instead of tag"
Implementation for the corresponding section of https://github.com/getporter/porter/issues/1151:

Currently, the naming and versioning fields in the Porter manifest are: `name`, `version` and `tag`.  The last one of these has heretofore been used to capture the full name of the bundle reference, e.g. `myregistry/myorg/mybuns:v0.1.0`.

We intend to preserve `name` (as the common name of the bundle)

[2020-10-22 16:57] vdice opened #1334 "Build: Support name/version overrides"
Implementation of the corresponding section of https://github.com/getporter/porter/issues/1151:

There's long been a wish to override the values above at bundle build-time.  See https://github.com/deislabs/porter/issues/694 and https://github.com/deislabs/porter/issues/814.  Being able to dynamically override these values opens up CI/automation possibilities for building and testing different bund

[2020-10-22 16:59] vdice opened #1335 "Publish: Update/support tag and repository flags"
Implementation of the corresponding section of https://github.com/getporter/porter/issues/1151:

Today, Porter's publish command offers the `-t/--tag` flag to override the bundle reference (and update the invocation image name accordingly) prior to pushing to an OCI registry.  The flag naming was directly inspired by the correlate from the `docker build` command, but we've since realized that we'd

[2020-10-22 18:50] carolynvs commented on #1335
I just realized that the proposal is to have `--repository` be the entire destination, e.g. `docker.io/myorg/mybundle:v1`. That will be confusing, just like tag is today, because repository refers to this part only `docker.io/myorg/mybundle`. Here's the Docker [documentation](https://docs.docker.com/docker-hub/repos) to help show the relationship: one repository has many tags.

Since we are trying

[2020-10-22 18:53] squillace commented on #1332
huh! I believe people have had success, but lemme try it

[2020-10-22 18:54] carolynvs commented on #1332
That first error really doesn't give enough info, even in debug mode does it? Drat. Either way, I'll fix the error handling so that it says _what_ it was doing when it got the 400 error.

[2020-10-22 19:17] vdice commented on #1335
I'm on board with the direction stated above.  Thank you for the thorough research and consideration around these terms!

One question.  Looking at this line:

Should it be `porter publish --registry quay.io/carolynvs` in line with how registry is used/proposed in https://github.com/getporter/porter/issues/1333 and https://github.com/getporter/porter/issues/1334?

I will update instances of `repos

[2020-10-22 19:21] vdice commented on #1151
Edit note: changed `repository` to `reference` in OP per https://github.com/getporter/porter/issues/1335#issuecomment-714691517

[2020-10-22 20:16] vdice commented on #1333
@carolynvs ah, had forgotten about the dependency declarations in a manifest.  Previously, we still used `tag` to specify the full bundle reference: https://github.com/getporter/porter/blob/main/pkg/manifest/manifest.go#L504

Should we also update this field?  It would be updated to `reference`.

[2020-10-22 20:27] carolynvs commented on #1333
Yup! I'm so glad you caught that. 💯

[2020-10-22 20:38] nhcarrigan commented on #1031
Coming from the stream - could I poke at this? 😁

[2020-10-22 20:40] iennae commented on #1031
@nhcarrigan Please do :D

[2020-10-22 20:46] nhcarrigan opened #1336 "Add the all-contributors integration"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, new contributors submit a PR to add their name to the recognition file.

**Describe the solution you'd like**

Rather than a manual workflow, the [all contributors](https://allcontributors.org/) integration could be enabled to a

[2020-10-22 20:53] carolynvs commented on #1254
Done!

[2020-10-22 20:53] #1254 closed

[2020-10-22 21:37] carolynvs commented on #1174
This has been fixed in the docker mixin and skeletor updated to add an integration test that checks that the schema is embedded properly.

[2020-10-22 21:37] #1174 closed

[2020-10-22 21:44] carolynvs commented on #1023
Related issue that should fix this is #1285

[2020-10-23 15:14] #1031 closed

[2020-10-23 15:37] carolynvs opened #1341 "schema should allow for mixin configuration"
## Describe the bug
When I declare a mixin and define configuration for it, VS Code decides that it is invalid.

![Screen Shot 2020-10-23 at 10 33 43 AM](https://user-images.githubusercontent.com/1368985/97023637-69e75280-151b-11eb-91b8-f9fc7986b135.png)

## To Reproduce

1. Create a porter.yaml
2. Declare a mixin with configuration:
[code]
3. Open it in VS Code and note the dreaded red squiggles

[2020-10-23 18:06] carolynvs commented on #1336
Yes! I would totally love to move to this. I was musing over it in #1167 and it sounds like people would like that.

[2020-10-23 19:28] carolynvs commented on #1335
Oops! Yes, thanks it should be registry. Let me fix that.

[2020-10-25 18:59] sestegra commented on #631
`porter` binary should be zipped and packaged with LICENSE file.
`porter` binary should be named porter without OS and architecture in its name.

My first try for the packaging using Homebrew isn't well, see https://github.com/sestegra/homebrew/commit/1a0cfaf5dcb05767b5f2e24fd6a19c7a0d77dadb
In fact, `mv $binary_name "porter"` has to be added in the install target.

[2020-10-27 15:59] #1320 closed

[2020-10-28 21:14] jasmdk opened #1347 "Add support for using host network for porter actions"
In our CI pipeline, we would like to spin up a k3d cluster and deploy a set of bundles, however we rely on different hostnames to be routed to different services, but in a CI scenario we can not control external DNS so the host names are constructed. I can add host mappings for each hostname either in the hosts file of the k3d nodes or even on the build agent where my CI is happening, but when I r

[2020-10-28 22:44] #1333 closed

[2020-10-29 15:10] carolynvs commented on #1347
@jasmdk As a workaround, would copying a hosts file into the bundle help at all? For example, the bundle can define a parameter that would let you pass in a hosts file with the necessary entries:

[code]

[2020-10-30 16:46] #1328 closed

[2020-11-02 04:03] sdeoras commented on #1332
Thanks @carolynvs for the fix. I have updated the description with the error message from `gcr.io`.

[2020-11-02 15:10] carolynvs commented on #1332
@squillace If I had to guess based on the new error messages, grc doesn't support the cnab media type. Perhaps it is returning the 400 because it doesn't understand it, and leaves the bundle in the registry with a docker manifest media type. That would explain the error when porter pulls the bundle.

Let us know when you have time to re-verify grc and cnab!

[2020-11-02 16:20] carolynvs commented on #1268
Thanks for the suggestion! Yes, we would like to get Porter using buildkit. There are new discussions about this idea, and related ones, at https://github.com/getporter/porter/discussions/1312.

[2020-11-03 17:37] vdice commented on #694
Hi @MikeLarah , wanted to check in on this.  After updating metadata fields on the Porter manifest relevant to this issue in https://github.com/getporter/porter/issues/1333, @carolynvs and I chatted about desired build flag options (currently tracked in https://github.com/getporter/porter/issues/1334).

Looking at the two requests above, does the proposed functionality mentioned work for your need

[2020-11-03 17:47] vdice opened #1352 "Generate immutable Porter manifest in the .cnab directory"
We'd like to start rendering an immutable Porter manifest and placing it in the `.cnab/app` directory  (alongside the `bundle.json`, etc.) when building a bundle.  This manifest would be a direct translation of the user's Porter manifest in their bundle working directory, but with the potential that certain fields may be updated dynamically, for example if the user builds the same bundle with a di

[2020-11-04 18:28] jasmdk commented on #1347
I agree that it probably could do the trick, however we found another solution, using a public dns with a mapping to an internal ip. This also allows us to create SSL certificates with letsencrypt that are trusted without having to register the certificates explicitly on the docker daemons.

[2020-11-04 18:34] jasmdk commented on #1241
I can not reproduce it and we implemented another solution to not manage parametersets directly, especially because we have a set of bundles that shares some of the same configuration values.
You may close this for all I care.

[2020-11-04 19:35] carolynvs commented on #1241
I'm glad to hear that you have a workaround!

[2020-11-04 19:35] #1241 closed

[2020-11-04 19:37] carolynvs commented on #1347
Nice! I've used services like that for local dev, never thought of using it for something like this too. 👍

Keeping this open because eventually we want to support this without workarounds.

[2020-11-04 19:53] BastienM commented on #1268
Thanks for letting me know @carolynvs.
I'll monitor the discussion 👍

[2020-11-05 08:43] jasmdk opened #1354 "reference in metadata is documented as OPTIONAL, but build fails if it is absent"
## Describe the bug
The 'reference' field is documented as OPTIONAL and will take precedence if present, but if it is omitted, 'porter build' fails while trying to parse the bundle reference.

## To Reproduce
Steps to reproduce the behavior:
1. Run `porter create`
2. Run `porter build`
3. See error

## Expected behavior
I would expect that it would build the bundle using a calculated reference bas

[2020-11-05 11:57] jasmdk opened #1355 "Wiring images for airgapped installation is broken in 0.30.0"
## Describe the bug
We are building airgapped bundles where images are packaged into the CNAB and the digest is then used when deploying applications, but this do not work in porter 0.30.0 - it just fails with missing digest parameter.

## To Reproduce
Steps to reproduce the behavior:
1. Run `porter create`
2. Add the following to porter.yaml:

images:
  alpine:
    imageType: docker
    repositor

[2020-11-05 13:26] carolynvs commented on #1354
I just ran into that last night too! On it 👍

[2020-11-05 14:39] carolynvs commented on #1355
This was an accidental regression from from #1308. We shouldn't have updated the manifest syntax, only changed how it is converted to a bundle.yaml

https://github.com/getporter/porter/pull/1308/files#diff-c2df3d8f17e8cbab0d6ea3d15e4b1588d40d14f32b4066c4a144f7ae9c2e4dd9R479

We'll get that fixed and push a new release with the 2 fixes reported today as soon as possible. Thank you for the reports!

[2020-11-05 15:30] carolynvs commented on #459
At this point the bundle name and invocation image are defaulted using the bundle name, repository and version. Closing since it has all the essentials (minus env var support which was scope creep anyway).

[2020-11-05 15:30] #459 closed

[2020-11-05 15:36] carolynvs opened #1357 "Support referencing images by tag and embedded the digest in the bundle"
I was looking into how images.NAME.tag is used and it doesn't match how I thought it worked at one point. I thought we had implemented looking up the digest at build when only tag is specified but we aren't doing that. Maybe we never did?

The tag field isn't documented well on how it is used and isn't terribly useful right now. It basically gives people a place to say what tag they think they are

[2020-11-05 15:38] #1354 closed

[2020-11-05 16:46] #1355 closed

[2020-11-05 20:19] carolynvs commented on #1355
A fix is available in [v0.30.1](https://github.com/getporter/porter/releases/tag/v0.30.1)

[2020-11-05 20:19] carolynvs commented on #1354
A fix is available in [v0.30.1](https://github.com/getporter/porter/releases/tag/v0.30.1)

[2020-11-10 21:31] f0rmiga opened #1359 "[ERR] yamux: Failed to write header: write unix @->/tmp/plugin726244114: write: broken pipe"
## Describe the bug

When doing a `porter install ...`, I got:

[code]

This appeared only once since I started to use Porter a few hours ago.

## To Reproduce

Seems intermittent.

## Expected behavior

Not get an error.

## Porter Command and Output
[code]

## Version

porter v0.30.1 (2931a5c3)

[2020-11-11 12:17] sdeoras commented on #1332
Hi @squillace and @carolynvs, looking forward to hearing if GCR is supported... wondering if you had any updates? thanks.

[2020-11-11 14:28] squillace commented on #1332
No, sorry @sdeoras these past two weeks have been a mess for me; I'll see about trying this out. I'll also reach out to the goog folks for their take.

[2020-11-13 21:29] carolynvs commented on #1359
Hmm, yeah I have seen that sometimes as well but it doesn't appear to cause anything to fail. I think it is coming from our communication with a plugin. Perhaps we aren't closing the connection properly or are trying to log plugin messages after the connection is closed?

I'm not sure yet. 😀

[2020-11-13 23:02] f0rmiga commented on #1359
@carolynvs Yeah, I thought so too. Perhaps writing to the connection on a different goroutine than the one that closes it? Can be lots of things and I know practically nothing from the porter.sh src at this point. If the plugin at least had wrapped its context in the error message, it'd be easier to trace it back to the problematic code.

[2020-11-14 18:36] coryodaniel opened #1364 "Adding Sprig for mutating outputs -> vars"
**Is your feature request related to a problem? Please describe.**

Sometimes an output needs to be manipulated for an input to another mixin invocation.

Say a bundle has two mixin invocations.

The first one has an output that’s a list of IPs.

The second one needs a single IP address as an input.

Using sprig we could split the IP list on comma and take the first IP.

{{ bundle.outputs.ip_list

[2020-11-16 16:36] cgiraldo commented on #1347
Just to add here my use case:

I am just trying things in a microk8s, however porter.sh does not work with microk8s.kubeconfig (kubernetes api host is set to 127.0.0.1).
I have updated my kubeconfig and microk8s certs with a hostname instead of 127.0.0.1, but the hostname must be resolvable in the docker container that Porter runs. updating /etc/hosts make my local kubectl work, but not inside por

[2020-11-16 17:39] vdice commented on #1347
Thanks for adding your use case,  @cgiraldo .  For the /etc/hosts approach to work, I believe the same updated file needs to exist inside the Porter container to work.  Have you tried adding it in as a parameter as Carolyn mentions [above](https://github.com/getporter/porter/issues/1347#issuecomment-718817767)?

[2020-11-17 01:15] carolynvs commented on #1108
Closing since we are going to move to Magefile very soon

[2020-11-17 01:15] #1108 closed

[2020-11-17 07:32] cgiraldo commented on #1347
I prefer not to include tricks in the bundle.

I have set up `192-168-0-3.nip.io` in my kubeconfig api_url hostname and that did the trick for me.

The hostname in kubeconfig is important for me because I build ingress_url outputs based on this hostname.

FYI:
[code]

[2020-11-17 16:09] carolynvs commented on #1364
Thanks for the pointer to sprig! We most definitely want to have stronger templating features so that transforming outputs is easier.

[2020-11-17 16:12] #1364 closed

[2020-11-18 14:40] #1286 closed

[2020-11-18 20:12] carolynvs commented on #115
The new plan is to move from make to [mage](https://magefile.org). The preliminary work to support that, and have windows agents in our CI is in #1321. After that is merged, I will start converting our makefile to mage.

[2020-11-19 19:20] #101 closed

[2020-11-22 21:23] wisdommatt commented on #1049
@carolynvs i would like to work on this

[2020-11-25 12:40] jasmdk opened #1377 "Allow uninstall to proceed even if a mixin fails - possibly using a --doNotFailOnError flag"
In some cases, our bundles tend to get quite large, having a mix of various mixins and occasionally installation fails due to unforseen interruptions or circumstances. This can result in a bundle failing during install, but installing at again may also fail - we are using a helm3 mixin which will try to install the same release with the same name and complain that it is not allowed. However we can

[2020-11-28 15:33] #1049 closed

[2020-11-28 15:36] carolynvs opened #1380 "Update references to debian:stretch with debian:stretch-slim"
We have updated our default invocation image to use `debian:stretch-slim` in #1375. There are still some example bundles and documentation that talk about the previous image that we used `debian:stretch`. Let's update those references to use the new base image.

1. Do a find/replace for `debian:stretch` and replace it with `debian:stretch-slim`
1. Make sure the code still builds and tests pass.
1.

[2020-11-28 16:08] #1334 closed

[2020-11-28 16:08] #1352 closed

[2020-11-30 11:15] cdupont commented on #302
Hello, thanks for your work!
We are looking for a tool doing the following:

1. bundle several containers into an "app"
2. have a version number for the whole
3. a tool to manage the app life cycle (check update, download, run etc.)
4. a registry to store and distribute my apps
5. manage automatic updates for my app (based on version numbers)

I think that Porter can do most of it? What I'm worrie

[2020-12-01 18:16] vdice opened #1383 "Add support for using the Minikube daemon for build/run"
**Is your feature request related to a problem? Please describe.**
I can't use a [minikube](https://minikube.sigs.k8s.io/docs/start/) cluster's Docker daemon for building/running Porter bundles

**Describe the solution you'd like**
I'd like support for using a minikube cluster's Docker daemon for building/running Porter bundles

**Describe alternatives you've considered**
I can use Docker for Mac

[2020-12-01 18:56] vdice commented on #302
Hi @cdupont ,

Thanks for the overview and questions!  Indeed, Porter (in tandem with the wider CNAB ecosystem) covers most of the points above.  Porter covers 1-3 now.  4 is covered by registries that support storing CNAB artifacts -- check out the growing [list here](https://porter.sh/compatible-registries/).

5 is a great idea that isn't fully built yet (to my knowledge), though the foundationa

[2020-12-02 09:41] cdupont commented on #302
Thanks a lot for the complete answer. I'll investigate more Porter and certainly come back with more questions!

[2020-12-14 09:24] xiechengsheng opened #1384 "[Helm] Helmv3 support"
**What is your question?**
when I use helmv3 client in `porter.yaml`, in the install stage an error occurs:
[code]

Is there a roadmap for supporting helmv3?

[2020-12-14 09:25] xiechengsheng commented on #1384
/label helm

[2020-12-14 10:32] sreejith1985 opened #1385 "unable to bind porter"
Whenever I exit from the terminal, untag the porter. someone, could you please help me to fix this issue?

[2020-12-14 12:38] MChorfa commented on #1384
Hi, @xiechengsheng,
By default Porter comes with helm2 mixing. If you wish to use helm3 you need the install the mixin from: https://github.com/MChorfa/porter-helm3
Or 'porter mixin install helm3 --feed-url https://mchorfa.github.com/porter-helm3/atom.xml'

Hope this helps

[2020-12-14 17:24] vdice commented on #1385
@sreejith1985 I'll see what I can do to help.  First, can a bit more information be provided?

For instance,

1. Steps to reproduce the behavior

2. The Porter commands used and their output

3. The output of `porter version`

Thank you!

[2020-12-15 14:49] carolynvs opened #1386 "Can't default a file parameter with a filepath"
## Describe the bug
This is a gap in our implementation of the custom `file` parameter type. The underlying type is actually a base64 encoded string. Currently that is accidentally leaked to the user by `default` which doesn't accept a filepath, only `""` or a base64 encoded string.

## To Reproduce
1. Create a bundle with a file type parameter
2. Make the parameter optional by specifying a defaul

[2020-12-16 17:52] #1380 closed

[2020-12-16 18:20] vdice opened #1389 "Windows E2E failure"
Seeing the following CI failure around the Windows E2E tests: https://dev.azure.com/getporter/525ee0af-eff4-4f16-9127-da829779137b/_apis/build/builds/593/logs/70

It seems to time out on invoking `exec.exe --version ...`

Not sure if this is CI/Win agent related or a bug in our Windows binary build(s) -- or other!  But it seems to be cropping up lately in CI and thus failing builds for unrelated P

[2020-12-21 18:43] carolynvs commented on #1389
There were three problems that caused this:

1. Docker Desktop doesn't start the docker service when it detects that an update is available. I have updated our windows agent image to disable checking for updates. We will just need to refresh periodically. ✅
2. My logic in our magefile that waits for docker service to come up, and it using debug logging instead of info logs so we didn't see that we

[2020-12-22 19:16] carolynvs opened #1394 "Update to Go 1.15"
Let's move back onto a supported version of Go and update any use of Go to 1.15 (e.g. in our build/azure-pipelines files).

[2020-12-30 07:50] iennae opened #1400 "Documentation: Contributing tutorial"
## Improvements to Contributing tutorial requested

* Slight update to "what successful Mage install looks like"
[code]

  current output of mage has changed slightly.

 * The tutorial starts out with installing mage but then doesn't appear to use it throughout (appears to be necessary for running make). Helpful to explain that a little bit.

* Missing link for Mage https://magefile.org/

* Assume

[2021-01-04 16:16] carolynvs commented on #1389
This is fixed, builds are passing again.

[2021-01-04 16:16] #1389 closed

[2021-01-04 21:53] MikkelHegn opened #1402 "Porter build does not validate mixin syntax"
## Describe the bug
I misspelled 'arguments' in an exec mixin command

[code]

This wasn't caught during build, and the execution resulted in this command being executed `unzip -d webapp`

## Expected behavior
I would expect `porter build` to fail or warn when there are unknown mixin commands.

## Version
Copy the output of `porter version` below
porter v0.30.1 (2931a5c3)

[2021-01-04 21:57] carolynvs commented on #1402
Doh! Thanks for bringing this up. 🤦‍♀️

We should add validation of the json schema to exec's lint step so that this is enforced during `porter build`.

[2021-01-05 21:01] carolynvs opened #1403 "Add working directory to mixins"
**Is your feature request related to a problem? Please describe.**
I want to run a command from a particular directory in my bundle

**Describe the solution you'd like**
I want a new field added to mixins where I can set the working directory. For example:

[code]

**Describe alternatives you've considered**
* At first we thought we could just use cd in an exec stanza and then run our command in t

[2021-01-08 14:52] carolynvs commented on #1385
Closing because we did not hear back and there's not enough information to troubleshoot. If later on you are able to provide the information Vaughn requested, we'd be happy to reopen.

[2021-01-08 14:52] #1385 closed

[2021-01-08 18:00] carolynvs commented on #1384
We are working on updating our documentation and naming for the helm mixins to make it more clear that everyone should be using @MChorfa 's helm3 mixin. Sorry it was so unclear!

[2021-01-08 18:00] #1384 closed

[2021-01-08 20:19] carolynvs commented on #1377
Yay! Another vote for #592. 🎉

For the specific helm3 retry logic for an install or upgrade, looks like there is a bug in the helm3 mixin. I just opened an issue for it https://github.com/MChorfa/porter-helm3/issues/16.

Duplicate of #592

[2021-01-08 20:20] carolynvs commented on #1377
Duplicate of #592

[2021-01-09 19:38] carolynvs opened #1407 "Explain should include the Porter version inside the bundle"
When I run `porter explain` I want to see which version of Porter was used to build the bundle, and therefore what version is embedded _inside_ the bundle.

[code]

In order to accomplish this we must add an entry into the bundle.json's custom section with information about Porter during `porter build`:

[code]

This change can be made in the following function:

Save the porter version (get.porte

[2021-01-09 19:40] carolynvs commented on #1407
Thank you, @nunix, for the suggestion. I was rewatching a demo video of yours and you mentioned that you set the bundle version to match the porter version so you could see it via `porter explain`.

[2021-01-10 16:02] momporter commented on #1407
Ok

[2021-01-12 17:52] vdice opened #1408 "Remove deprecated BundleTag field on the Porter manifest"
Remove the deprecated [BundleTag](https://github.com/getporter/porter/blob/784d61cf283bbd5b9c05a42ea718d3d042803305/pkg/manifest/manifest.go#L47) field from the Porter manifest (and any remaining instances of use).

A follow-up from https://github.com/getporter/porter/pull/1405 (ref https://github.com/getporter/porter/pull/1405#discussion_r555914929)

[2021-01-12 17:56] carolynvs opened #1409 "Make concurrent access to Porter data safe"
When multiple porter processes are sharing the same home directory, we want to prevent multiple `modifies: true` actions being performed on a bundle concurrently. For example, the first person runs `porter upgrade` and when the second person runs that command, they should get an error that another upgrade is in progress.

Ideally we would also have a flag so that porter would just wait until it's

[2021-01-12 17:56] carolynvs opened #1410 "Make concurrent use of Porter safe"
When multiple porter processes are sharing the same home directory, we want to prevent multiple `modifies: true` actions being performed on a bundle concurrently. For example, the first person runs `porter upgrade` and when the second person runs that command, they should get an error that another upgrade is in progress.

Ideally we would also have a flag so that porter would just wait until it's

[2021-01-12 22:41] #1151 closed

[2021-01-12 22:41] #1335 closed

[2021-01-12 22:42] vdice commented on #694
We hope we've addressed this feature request with the improvements in https://github.com/getporter/porter/issues/1151.  If not - or if other concerns/suggestions arise - don't hesitate to create new issue(s).  Thanks!

[2021-01-12 22:42] #694 closed

[2021-01-12 22:52] vdice commented on #720
With https://github.com/getporter/porter/issues/1151 now implemented, we believe the enhancements mentioned in this issue have been addressed.

To answer the original questions directly:

One can run `porter publish --tag latest` and `porter publish --tag 1.0.0` for a given bundle

No, the bundle can be built once via `porter build` and then published any number of times with differing tag/registr

[2021-01-12 22:52] #720 closed

[2021-01-12 22:58] vdice commented on #721
Thanks again for the original issue here.  It motivated us to revisit various aspects of Porter, its manifest and its publishing logic to better support CI/CD scenarios.  We've just completed implementation in the proposal tracking improvements to these areas: https://github.com/getporter/porter/issues/1151

Please take a look at the overview in that issue when convenient.  Hopefully the updated f

[2021-01-12 22:58] #721 closed

[2021-01-13 10:41] lucidprogrammer opened #1413 "Helm Mixin Version 3 - Default installation"
**Is your feature request related to a problem? Please describe.**
It will be nice that I could specify that I don't want the helm (version 2) mixin to be installed, instead install helm version 3 by default.

**Describe the solution you'd like**
Ideally default to helm version 3 as it is generally the standard now, atleast possibly give the option which version you need.

[2021-01-13 15:25] carolynvs commented on #1413
Our plan is to stop installing mixins by default soon, and instead just install the exec mixin when you install porter. Then people who are scripting out their installs can add calls to porter mixin install to get what they need. #1192 is the one to subscribe to for updates on when we implement this.

[2021-01-13 15:27] carolynvs commented on #1413
I'm going to close this since the work will happen on that other issue. With the helm2->3 switch, it's bumping up in priority. Thank you for the feedback!

[2021-01-13 15:27] #1413 closed

[2021-01-13 15:28] carolynvs commented on #1192
We should consider doing this sooner because with the Helm2->3 switch installing helm2 by default really makes no sense anymore.

[2021-01-14 18:23] carolynvs opened #1416 "Add --action to porter explain"
When I am using `porter explain` I often am just looking for what I _have to do_ to run a certain action, usually install. It would be great if I could type `porter explain --action install` and have porter filter out unused parameters (and credentials once we have applyTo for creds too).

[2021-01-14 19:11] carolynvs opened #1417 "Porter explain shows string when the parameter is of type file"
## Describe the bug
Porter has a custom parameter type of file, that is actually a string parameter in the bundle.jon. The porter explain command is showing string instead of file for the parameter type.

## To Reproduce
[code]

Note that kustomize is a file parameter.

## Expected behavior
It should say the type is file not string.

## Porter Command and Output
(above)

## Version

v0.30.1

[2021-01-14 20:45] carolynvs opened #1418 "porter explain --tag doesn't map tag to reference for you"
## Describe the bug
In v0.31.0 we changed --tag to --reference. The CLI is supposed to catch when you use --tag and map it for you to --reference so that it wasn't a breaking change but it's not working for porter explain (and perhaps others)

## To Reproduce
[code]

## Expected behavior
Explain content should be filled in but instead I see the warning about --tag and empty explain output.

## Ver

[2021-01-14 22:26] #1418 closed

[2021-01-15 19:54] nunix commented on #1407
oh so nice, I'm always setting the version of my bundles to the version of Porter, specially in the early days, so I knew if the bundle was able to leverage a feature from Porter.

Hope this helps others 😄

[2021-01-16 11:03] joshuabezaleel commented on #1407
Hi @carolynvs ! May I take a stab on this one? 🙂

[2021-01-16 11:43] joshuabezaleel commented on #1400
Hi @iennae , I was just going through the contributing tutorial docs to set up mine. I thought that it would be a bit confusing for first-time contributors because the `mage` command and its expected output written on the docs (e.g. targets getMixins, testE2E, etc.) is expected to be run inside the `porter` directory after it is cloned to the contributor's machine but the instruction to clone the

[2021-01-16 15:11] joshuabezaleel commented on #1400
Not directly related to "contributing tutorial" but I think still related to it since going to the "quickstart" page is recommended on the contributing tutorial page.
I got these lint errors when I try to build the bundle according to the `porter.yaml` file on the [`quickstart`](https://porter.sh/quickstart/#create-a-new-bundle) page and I think it should also be wrapped in quotes according to [th

[2021-01-17 03:00] joshuabezaleel commented on #1416
Hi @carolynvs , if it would be okay I think I'm interested in this issue but I'm still not sure what kind of output is expected after running the command. Thank you lots in advance 🙂

[2021-01-19 17:54] carolynvs commented on #1416
@joshuabezaleel That would be great if you are interested in implementing this. If you haven't gone through it yet, there is a [tutorial](https://porter.sh/contribute/tutorial) that shows how to implement and test your changes in Porter.

The flag should be defined on the explain command, found here https://github.com/getporter/porter/blob/main/cmd/porter/explain.go. You will want to make a copy o

[2021-01-19 17:57] #1417 closed

[2021-01-19 18:29] carolynvs commented on #1407
I'm 3 days late but thanks for picking this up! 🎉

[2021-01-21 09:06] joshuabezaleel commented on #1407
@carolynvs no worries 🙂  I've put up a PR on this particular issue that was finished much easier since your explanation on the issue was really helpful. Looking forward to the review! 🙂

[2021-01-22 16:06] carolynvs commented on #1400
Thanks for trying it out and giving feedback on what needs to be improved! I'll try to address some of these items today.

[2021-01-22 17:14] carolynvs commented on #1400
@iennae I'm not sure what this means?

---

I don't get an error when running porter install and I'm not sure what would cause that. :thinking: Can you try running `make build` and then building the bundle again?

---

The paragraphs just above where I have them run porter commands I have them alias porter to their local build. You must set PORTER_HOME and it's just easier to make the alias while

[2021-01-25 22:55] #1400 closed

[2021-01-26 18:38] carolynvs opened #1426 "Parameter Source from Output doesn't work when storage plugin isn't filesystem"
## Describe the bug
When a parameter gets its value from an output, and the storage plugin is not filesystem, something goes wrong injecting it and I get the error "PARAMETER is required".

## To Reproduce
0. Configure porter to use the azure table plugin
1. `porter install demo --reference ghcr.io/squillace/aks-kubeflow-msi:v0.1.6 --cred aks`
2. `porter uninstall demo --cred aks`

## Expected beh

[2021-01-28 16:30] carolynvs commented on #1029
This was fixed in #1420 when we added a custom extension for file parameter types.

[2021-01-28 16:30] #1029 closed

[2021-01-28 16:32] carolynvs commented on #756
We no longer delete the claim on uninstall, and have a separate command to remove old claim data. I'm going to close this issue but please let me know if there is  still something that needs to be addressed.

[2021-01-28 16:32] #756 closed

[2021-01-28 16:34] carolynvs commented on #542
I think I've answered the question so I'm closing this. If there's still more to hash out, let me know!

[2021-01-28 16:34] #542 closed

[2021-01-28 16:36] carolynvs commented on #414
Closing because we are making our build scripts cross-platform by moving to Mage.

[2021-01-28 16:36] #414 closed

[2021-01-28 16:48] carolynvs opened #1429 "Add verbosity flag"
**What design is being proposed?**
Replace `--debug` and `--debug-plugins` and `porter build --verbose` with a single `--verbosity|v` flag.

https://github.com/getporter/porter/discussions/1353

🚨 This needs a PEP.

[2021-01-28 16:50] carolynvs opened #1430 "Sweep CLI API for inconsistencies before v1.0"
**What design is being proposed?**
Some of our flags evolved over time and are inconsistent. Our last chance to fix that is before the v1.0 release. Let's look at our entire flag and command set, and create a PEP for any changes.

For example, here are some confusing flags

* Specify a credential set, `--cred|c`
* Specify a parameter set, `--parameter-set|p`
* Specify a parameter key=value pair, `

[2021-01-28 18:44] squillace opened #1431 "porter build --version doesn't accept semver with commit hash properly"
## Describe the bug
porter is documented as accepting a SemVer --version option. The format to append a commit hash would be from https://github.com/Masterminds/semver might look like: `porter build --version 0.1.7+$(git rev-list --max-count=1 HEAD)`.

However, the output is:
[code]

## To Reproduce
Steps to reproduce the behavior:
1. Run `porter build --version 0.1.7+$(git rev-list --max-count=1

[2021-01-28 19:04] vdice opened #1432 "porter build --version should support leading 'v' in supplied semver"
Currently, `porter build --version` strictly enforces that the supplied version value adheres to semver.  This is fine, and what we want, but many users will supply e.g. `v0.1.0` instead of `0.1.0`, where the former isn't strictly semver and the latter is.

Therefore, to improve usability, Porter should support versions with a leading `v` and then trim as needed in the code.

[2021-01-28 19:12] vdice commented on #1431
Thanks for the issue, @squillace .  My thinking is that Porter should sanitize the provided semver `version` value to a valid [Docker tag](https://docs.docker.com/engine/reference/commandline/tag) when tagging the invocation image and bundle.

For example, if the bundle version is: `0.1.0-beta.1+abcd1234`, the image/bundle tags could be sanitized to comply with Docker tag restrictions.  In this ca

[2021-01-28 19:21] carolynvs commented on #1431
I like Vaughn's suggestion to default the tag to a sanitized version string when necessary, and printing a warning when we do that. We should also clearly document the limitations of docker tags on our website and on the existing blog post about using CI/C with these flags.

We should probably research a bit on what replacement character to use, in case there's already an accepted workaround for t

[2021-01-28 19:23] carolynvs commented on #1432
This would be a good candidate for a good first issue once we add more information to the OP.

[2021-02-01 19:37] JeremyGHutchins opened #1434 "Docs invalid for dependencies yaml tag"
## Describe the bug
I have two bundles (a and b) such that b requires a.  To enforce this, I am adding "dependencies:" in the porter.yaml for project b.  However, when I use the format provided in the docs...

[code]
I get an error...

[code]

It seems, based off trial and error, that the format may instead be...

[code]

## To Reproduce
Steps to reproduce the behavior:
1. Create a project using d

[2021-02-01 19:51] JeremyGHutchins commented on #1434
Bah!  Never mind.  I appear to have an older version.  No wonder.  Sorry.

[2021-02-01 19:51] #1434 closed

[2021-02-01 22:00] carolynvs commented on #1434
Sorry, that really is not a helpful error! I'm glad you figured it out and shared the solution. 🙇‍♀️

[2021-02-02 22:43] squillace commented on #1431
related to #1432 as well

[2021-02-03 15:35] carolynvs opened #1436 "Make a short flag for --reference"
I am very lazy and everytime I type out --reference, I wish I could use a short flag. @vdice What do you think about `-r`? I don't think that is being used anywhere.

[2021-02-03 16:38] MikkelHegn commented on #750
Seeing this more and more... It will break codespace creation if you rely on porter in your dev container :-(

[2021-02-03 18:30] carolynvs commented on #750
@MikkelHegn The 503 errors from our azure blob storage has been brutal. I just tweaked the CDN in front of it and if that doesn't work I am going to try to get Azure support to help us out.

I am really sorry that the downloads have been so flakey...

[2021-02-03 19:31] #1436 closed

[2021-02-04 00:08] MikkelHegn commented on #750
Thx - I'll let you know if I see then again...

[2021-02-05 13:20] kickthemooon opened #1438 "Port Terraform Output to Helm install/upgrade"
**What is your question?**
Can Porter help me use Terraform output values with Helm install/upgrade without needing to transfer/translate my already existing terraform/helm ts's/yaml's to porter yaml?

note:
I don't know what outputs there might be

**Where have you looked already to figure this out?**
docs, google

[2021-02-05 14:07] MikkelHegn commented on #750
😭 - from right now...
![image](https://user-images.githubusercontent.com/12242001/107043787-c10bed00-67c3-11eb-9393-f615b33fc888.png)

[2021-02-05 14:22] MikkelHegn commented on #1431
I'm running into this as well currently. What's the reasoning behind making semver a requirement, as opposed to just a recommendation?

I'm considering only using the commit id to identify my bundle.

[2021-02-05 16:09] vdice commented on #1431
Good question.  This originates from the CNAB Spec for the underlying bundle.json that each Porter bundle is represented as.  Currently, the spec states that the version field [must be a SemVer2 string](https://github.com/cnabio/cnab-spec/blob/master/101-bundle-json.md#name-and-version-identifying-metadata).

[2021-02-05 16:19] carolynvs opened #1439 "Image digest validation can fail when building bundles locally"
## Describe the bug
I'm not sure how to perfectly reproduce this but it's happened a number of times.

## To Reproduce
1. Build a bundle locally
2. Push the bundle
2. Install it using --reference
3. Uninstall it using the name

It seems that since the invocation image is already in the docker cache, it doesn't pull what was pushed. The local image doesn't have the repository digest. So it fails th

[2021-02-05 16:28] carolynvs commented on #750
Thanks for confirming that nothing works. 😭

@squillace is helping me figure something out. I may move us to the Verizon CDN and see if that helps.

[2021-02-05 19:20] carolynvs commented on #1438
Hi, @kickthemooon! Let's walk through how you can combine porter, helm and terraform.

The porter.yaml file would contain high level calls to the terraform and helm cli. You don't rewrite any existing config files for either. What porter helps you do is connect the outputs from terraform to variables in helm.

Here is a made up example

[code]

In the first step of the install action, the Terrafor

[2021-02-05 19:24] carolynvs commented on #1438
Sorry that I don't have an example demonstrating how to integrate helm and terraform yet. Here is an example that demonstrates how to just use terraform in a bundle:

https://github.com/getporter/terraform-mixin/blob/main/examples/basic-tf-example/porter.yaml

[2021-02-05 19:36] squillace commented on #1431
the SemVer states the topology of the action surface and the semantics of the actions -- but the commit really targets the commit, which is great but doesn't speak to anything else.

I would like to see us use the semver by default, but add the commit if you need to. as the semver is really six chars, but the git commit is a TON, having the semver isn't really a hit and conveys human information.

[2021-02-08 14:30] squillace commented on #750
Hey all, I've reached the CDN team and now that it's Monday I'll have an answer here for the instability. (@carolynvs @MikkelHegn)

[2021-02-08 14:50] carolynvs commented on #1431
Setting the bundle version to _just_ a commit hash just isn't an option, it would create an invalid bundle definition that violates the CNAB spec. I really like Vaughn's solution:

`porter build --version v0.1.7+58d98af56c3a4c40c69535654216bd4a1fa701e7` would set the bundle version to `v0.1.7+58d98af56c3a4c40c69535654216bd4a1fa701e7` and would output an invocation image to `myorg/mybundle:v0.1.7_5

[2021-02-08 14:54] squillace commented on #1431
without the version, the bundle doesn't convey human information anyway.

[2021-02-08 14:55] squillace commented on #1431
whoops. was just trying to agree but I can't navigate buttons without more coffee

[2021-02-08 15:29] MikkelHegn commented on #750
@bec-lyons - who also ran into this earlier today

[2021-02-10 16:52] carolynvs commented on #1438
I'm going to close this because I think your question has been answered. If not let me know and we can reopen it!

[2021-02-10 16:52] #1438 closed

[2021-02-10 16:52] carolynvs commented on #1332
Did we ever hear back about gcr support?

[2021-02-10 16:56] squillace commented on #1332
No. Was so far down on the totem pole that I failed to do this. @sdeoras, I'll pick this back up again. Apologies.

[2021-02-10 17:00] carolynvs opened #1444 "Newlines in the porter.yaml should be converted to \n in the json"
## Describe the bug
I created a bundle and used newlines in some description fields. When the bundle.json was created, the newlines were preserved instead of converted to \n. This caused the bundle.json to not be valid json.

## To Reproduce

1. porter create
2. Edit the porter.yaml and make the description multi-line
[code]
3. porter build

Look at the .cnab/bundle.json and note that there are ne

[2021-02-10 19:53] sdeoras commented on #1332
thank you @carolynvs and @squillace for following up. we would love to see GCR supported. thank you!

[2021-02-10 21:47] carolynvs opened #1445 "Content Digest Mismatch Error"
## Describe the bug
We have a flag for actions, --force, that repulls the bundle before running the action. It's useful when you are unrepentantly flaunting best practices in dev and are force pushing over a tag repeatedly while testing your bundle.

It doesn't work anymore now that we check if the repo digest of the invocation image matches what is declared in the bundle.

## To Reproduce
1. Publ

[2021-02-10 21:54] carolynvs opened #1446 "Have installations aware of the bundle reference and version"
**What design is being proposed?**
I want to be able to upgrade a bundle to a newer version without having to respecify the entire reference again. It should reuse the reference from previous actions such as install.

First when we display an installation we should show what bundle it came from, the reference you got it from (if available, it may not be if it was installed from a local file) and t

[2021-02-11 03:57] iennae commented on #1332
@carolynvs and @squillace, do y'all already have someone you are talking about with this? Happy to advance discussions here with the necessary folks.

[2021-02-11 14:51] squillace commented on #1332
Not yet, @iennae it would be great if you can ping the proper humans. I'd have to go through lasker to get the right person.... feel free to start an email thread (firstname.lastname@megacorp.com)

[2021-02-11 19:04] simongdavies opened #1447 "porter install --file fails with path to file outside pwd"
## Describe the bug
Executing porter install with --file specifying a manifest in a directory outside the current working directory fails.

## To Reproduce
Steps to reproduce the behavior:
1. create a directory a
2. place any valid porter.yaml file in this directory
3. Run this porter command `porter install --file a\porter.yaml`
4. See error

## Expected behavior
Bundle should be built and instal

[2021-02-11 19:45] carolynvs commented on #1447
@vdice and I were talking about the --file parameter and how it's something we originally added but at this point it isn't something that is supported well enough in the code to be usable. I think we ran into this when Vaughn added support for --registry to porter publish and we assume that the file we are building from is always porter.yaml. The other piece of it is that Porter was written with t

[2021-02-11 20:51] carolynvs opened #1448 "Description column in tables should wrap"
## Describe the bug
When a description for a parameter or credential is long, it breaks the table layout.

## To Reproduce
[code]

## Expected behavior
The text should wrap at a certain character count and stay in its column.

## Porter Command and Output

![Screen Shot 2021-02-11 at 2 48 52 PM](https://user-images.githubusercontent.com/1368985/107697083-63bae480-6c78-11eb-86cf-fe29b74a566e.png)

[2021-02-16 15:47] carolynvs opened #1449 "Cannot build with a different version and then publish"
## Describe the bug
When I override the version of a bundle during porter build, porter publish always fails.

## To Reproduce
1. Create a bundle with `porter create` and change the name of the bundle to something that isn't already in your docker registry, e.g. `name: unique-bug-report`
2. Run porter build and set a version that isn't the same as what is in the porter.yaml, e.g. `porter build --v

[2021-02-16 19:09] #1449 closed

[2021-02-17 19:25] sebumd opened #1457 "Signing of images within a porter bundle is not possible"
**Is your feature request related to a problem? Please describe.**
When bundles are published using `porter publish`  images in the porter.yaml file are tagged and pushed to the specified repository. If you are using the helm mixin, it is also updated with the location of these images. This is great except there is no way to then sign that image for use with an admissions controller in k8s.

**Des

[2021-02-17 22:31] radu-matei commented on #1457
Hi!
I agree that the current state is far from ideal. Specifically, the OCI community is working on V2 for Notary, which would be native to registries and which would allow implementations to move signature data from one registry to another.

Until then, there is a scenario in which image signatures could be verified for thick bundles:

- sign images in bundle and push trust metadata to Notary ser

[2021-02-19 07:35] cy-ddg opened #1459 "How to define object parameters with complex validation"
I am trying to define parameters that use the full power of the available JSONSchema validations available in the [CNAB spec](https://github.com/cnabio/cnab-spec/blob/cnab-core-1.0/101-bundle-json.md#definitions), but so far I have only middling success.

The following parameter definition
[code]
builds successfully but trying to set the parameter value on install like this
[code]
results in this

[2021-02-19 21:45] vdice commented on #1459
Thanks for bring this to our attention @cy-ddg .  Your approach above looks sound.  This definitely appears to be a bug in Porter.

[2021-02-21 13:47] #1112 closed

[2021-02-21 14:03] carolynvs commented on #1341
The schema command supported by mixins needs to return the schema for configuration as well as actions.

[2021-02-21 14:05] carolynvs commented on #1063
Closing now that we are writing a bespoke porter operator.

[2021-02-21 14:05] #1063 closed

[2021-02-22 00:45] iennae commented on #1332
I'm able to replicate your error. I'll check in with the Container Registry folks to see if this is expected. I also tested the recommended Artifact Registry (replacement service for GCR with more repository options) and it works as intended.

More details:

The first step I've done is worked on replicating the error. I'm new to gcloud, so I noticed that Artifact Registry is recommended as a repla

[2021-02-22 04:15] squillace commented on #1332
oooo are there docs for the artifact regsitry? I wanna try that....

[2021-02-22 04:58] iennae commented on #1332
@squillace https://cloud.google.com/artifact-registry/docs

[2021-02-22 05:02] iennae commented on #1332
other than the initial setup for gcloud

Set up credentials
[code]

Configuring and Setting up the Artifact Registry Repository
[code]

[2021-02-22 14:49] carolynvs commented on #1332
Sounds like https://porter.sh/compatible-registries/ to say that GCR doesn't work with CNAB and add a new entry for Google Artifact Registry?

[2021-02-22 15:11] #750 closed

[2021-02-22 15:22] #1416 closed

[2021-02-22 16:57] squillace commented on #1332
Yup, sure sounds like that to me. Thanks, @iennae !!!!

[2021-02-22 18:18] scottbuckel opened #1464 "In wiring images section of the documentation, better document which fields are optional/required"
## Describe the bug

https://porter.sh/wiring/#wiring-images

In your talk to CNCF, you mentioned you can use tags OR digest with Porter (although digest isn't in the CNAB Spec). If you use a tag, Porter will resolve it for you. That wasn't clear until watching the talk linked below:
https://www.youtube.com/watch?t=314&v=IFWIBSzhgM4&feature=youtu.be

[2021-02-22 18:51] #1332 closed

[2021-02-24 17:00] karchf opened #1467 "Windows install script broken"
It looks like the install-windows.ps1 is incorrectly referencing 0.34.1 when it should be 0.34.0. This is likely left over from 0.33.1, which was the previous version.

As such, the windows dynamic install does not function.

[2021-02-24 17:51] carolynvs commented on #1467
Thanks for letting us know!

[2021-02-24 18:39] karchf commented on #1467
Looks great now! And now on .34.2, no less! :)

[2021-02-24 18:41] carolynvs commented on #1467
Thanks for verifying and sorry about the borked install script!

[2021-02-24 23:02] #1467 closed

[2021-02-25 19:18] carolynvs opened #1473 "Update porter docker images to not install extra mixins"
The porter client docker image shouldn't install itself by running the install script. It should copy the porter binaries from the current build into the image and only install the exec mixin.

[2021-03-02 19:46] #877 closed

[2021-03-03 22:11] carolynvs opened #1480 "Mixin descriptions should be optional"
Allow a mixin step to not specify a description, because I am lazy. The mixin is allowed to still require one but porter should be able to handle it being empty. When it is empty, if porter needs to print the description of the step, use some form of  "NAME mixin [index]"

[2021-03-04 14:43] andreas-baus opened #1483 "null values in custom definitions become the string "<nil>" once published"
## Describe the bug
When a field of an object defined in the custom section contains a null value, this becomes the literal string "&lt;nil>" instead of an actual null in the json of the manifest published to the repository.

## To Reproduce
Steps to reproduce the behavior:
1. Create a porter.yaml containing a 'custom' section like this:
[code]
2. Run `porter publish` to push the CNAB to a reposit

[2021-03-09 19:25] JasonFreeberg opened #1486 "Quickstart: `porter install` fails"
## Describe the bug
I installed Porter on my Windows machine and started the quickstart to learn more. I got to the installation step, and I got the following error:

[code]

## To Reproduce
Steps to reproduce the behavior:
1. Follow the Porter quickstart on a Windows machine

## Expected behavior
Porter installation completes

## Version

porter v0.34.4 (ccebf071)

[2021-03-09 19:35] carolynvs commented on #1486
Oops, that's no good. I have seen that error before when an old version of porter tries to use a new bundle. Let me investigate and see what went wrong on our side.

Thanks for letting us know about the problem!

[2021-03-09 20:01] carolynvs commented on #1486
Here's what I have found after trying out a few combinations:

porter v0.34.4 with getporter/porter-hello:v0.1.0 works ✅
porter v0.34.4 with getporter/porter-hello:v0.1.1 works ✅
porter v0.31.2 (and lower) with getporter/porter-hello:v0.1.0 works ✅
porter v0.31.2 (and lower) with getporter/porter-hello:v0.1.1 fails with the same error that you got ❌

So I'm wondering if you really are using an old

[2021-03-09 21:06] #1483 closed

[2021-03-09 23:12] Aleksion opened #1488 "Environment variables and secrets"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
There doesn't seem to be a way to encrypt secrets in the porter interface.

**Describe the solution you'd like**
 I believe secrets can be saved as base64 in k8s and then served and decrypted to the container. I would like to be able to add

[2021-03-09 23:18] #1488 closed

[2021-03-10 17:53] carolynvs opened #1490 "Improve DX automating Porter with our library"
There is a bit of assumed steps occurring when you automate porter with `get.porter.sh/porter/pkg/porter` vs using the CLI. You have to set defaults yourself for some flags, the arguments are passed in funny to validate, and you have to call validate yourself.

We should move to a different pattern so that it looks nearly the same between the CLI and the library.

* Validate is called by all of Po

[2021-03-10 17:55] carolynvs opened #1491 "Rename "table" format to plaintext"
We have two formats right now that both mean human readable text: plaintext (used by version) and table (used everywhere else). Table isn't really a good description of our output, consider porter show which has lots of different formatted text. The key difference is we want human formatted text, whether it's a table or ascii art doesn't matter.

I suggest we standardize on "plain" (or whatever) b

[2021-03-15 19:16] philliphoff opened #1497 "arm64 builds of Porter tools?"
I'm using Dev Containers in VS Code to create Linux-based development environments on my Apple M1 Mac.  These environments include the Porter tools for application deployment.  On occasion, I get `qemu` failures when creating the Docker image, during the Porter installation as the base image, as well as the Porter tools, are `amd64`.

So, I started to build an `arm64` base image in an attempt to a

[2021-03-15 19:24] carolynvs commented on #1497
Tagging @squillace as he has a lot more experience with dev containers and may have some tips to share.

You're right that Porter only supports creating linux-amd64 invocation images for the bundle. Adding support for an arm _client_ (just the binary that runs on the host) would be easy and please let me know if that would help.

Adding support for different os/arch combinations for the invocation

[2021-03-15 19:37] squillace commented on #1497
ha! I've trapped @philliphoff yet AGAIN by blocking him with my promises of unofficial arm work. Just keep bothering me, Phillip and I will eventually collab with you on this. But I do apologize for not getting to it though I've threatened it.

and no, Porter will not be doing an official ARM build any time soon -- though it will happen eventually. Unofficially, however, I'd love to collaborate.

[2021-03-15 20:25] philliphoff commented on #1497
I *think* that's all I need, but I'm not quite familiar enough with Porter to know what it means to, say, use the client tools in an `arm64`-based image to generate/deploy an application.

No worries, it's mostly just to document the (eventual) need for `arm64` support so I have something to point to when I mark my issue as "blocked external".  :-)  To be honest, I've not seen the `qemu` failure i

[2021-03-15 20:32] squillace commented on #1497
:-)

More realistically, some tools just won't work on M1 until they get support, so we should have some way of handling that. Porter is a current example and a good one.

[2021-03-16 14:50] jeffersonbenson opened #1498 "Porter publish does not reach into a specific file"
## Describe the bug
A clear and concise description of what the bug is.

In a repository I'm working with, if I am in the root of the directory and the porter.yaml file exists in a porter folder, I am unable to run `porter publish --file porter/porter.yaml` in order to publish the bundle. Additionally specifying an absolute path to the porter.yaml file seems to produce the same issue.

It would ap

[2021-03-16 15:23] carolynvs commented on #1498
Gotcha, thanks for the issue. This is both a known problem with porter (always using the current directory for the build context) and looks like a newly introduced bug around locating the porter.yaml.

I think we need to introduce a second flag, similar to how `docker build -f /path/to/Dockerfile /path/to/build/context` works so that we aren't tied to the current directory. Then have the paths in

[2021-03-16 15:33] jeffersonbenson commented on #1498
So for us the build context can totally be in the same directory as the porter.yaml, and probably should imho.

For a larger context we're using a CI/CD pipeline to build and test bundles on PR from our devs, so right now the quick and dirty solution is just to have our build script cd into the directory with the porter bits and go from there, but it was a bit confusing to see the option for `--fi

[2021-03-16 15:41] carolynvs commented on #1498
Agreed! That flag doesn't work the way it should. Thanks for the feedback on how you plan on using the flag.

A workaround until we fix the bug with --file is to ensure that the porter.yaml is in in the current directory where you run porter build. Depending on people's setup that may involve copying the porter.yaml some other place than where it is stored in the repo.

1. named porter.yaml
2. run

[2021-03-16 15:46] carolynvs commented on #1498
@vdice I remember that we ended up hard coding some of the lookups for the user-defined porter.yaml to "porter.yaml" and don't take into account opts.File. Do you remember why we had to hard-code it? I recall you found problems related to the generated .cnab/porter.yaml but I'm unclear on if I switch to always use opts.File if I should be on the lookout for unintended problems?

[2021-03-16 19:55] karolz-ms commented on #592
Yes! Please! And not just for `exec` mixin, but the bundle author should be allowed to handle a failure of any step. For example, I am creating an Azure resource group using `az` mixin and I am fine to proceed if the rg already exists.

[2021-03-16 20:11] carolynvs commented on #592
Thanks for letting us know that this would be helpful! Most of the mixins use exec as a base, so they can pick up the feature once we release it in the exec mixin. I'll make sure when we do this to update every mixin that can support it.

[2021-03-16 23:35] philliphoff opened #1501 "How to diagnose Porter failure to migrate storage?"
In a VS Codespace (a Linux VM), I get the below failure.  Any idea how to go about diagnosing failures in the storage migration or understanding which schema, in particular, Porter is have trouble with?  (I haven't come across much documentation of the schemas themselves.)

[code]

[2021-03-17 17:45] philliphoff opened #1503 "Why aren't the `name` or `registry` properties overrideable by flag?"
While I see that the `version` property of the `porter.yaml` can be overridden on the command line during build, why not also the `name` or `registry` properties?  If, for example, two developers each clone their team's repo (which uses Porter for deployment) and each want to test their local changes in their own test environment, must they modify (at least) the `registry` property in order to red

[2021-03-17 19:35] vdice commented on #1503
Hi @philliphoff, great questions.  Porter does allow overriding both values, but in different commands.  On [build](https://porter.sh/cli/porter_bundles_build/), `name` and `version` can be overridden.  We decided to place registry-related overrides in Porter's [publish](https://porter.sh/cli/porter_publish/) command.  There, `registry`, `tag` and `reference` may all be overridden on publish.

Tha

[2021-03-17 19:49] vdice commented on #1498
Let me revisit this area in the code to refresh my memory here and reply...

[2021-03-17 20:05] carolynvs commented on #1498
Don't you remember laughing with me and saying "No one will ever need _this_!" and then evilly hardcoding the value? 😂

[2021-03-17 21:45] vdice commented on #1498
Ah yes, it was because further plumbing would be needed to update applicable, hard-coded file path values (user-supplied manifest, Porter's internal version, the bundle.json file).  We currently have a lot of spots where it assumes we're always in the bundle directory itself.  Oh, and Porter's build logic doesn't have an option to ingest a `File` value... it's all tied to that same assumption.  He

[2021-03-18 14:44] carolynvs commented on #1498
I am leaning towards being flexible about the filepath and directory, similar to how docker build allows you to set both a context directory and dockerfile path. I have had people in the past say that they want to ship files from the root of their repo but not keep the porter.yaml at the root.

[2021-03-18 15:14] carolynvs commented on #1501
You can use `--debug --debug-plugins` to see more information on what is being read out of storage.

Here's some more info on the schema and how we detect if we need to migrate:

1. Look for schema.json at the root porter's storage (depending on the plugin used, this may be in ~/.porter/schema.json or it could be stored in Azure table storage for example).
2. If it can't be found and PORTER_HOME i

[2021-03-18 17:57] karolz-ms opened #1507 "Porter install fails (GH actions)"
## Describe the bug
Tried to use Porter in my GH action--failed twice with the same "connection reset by peer" error, see below.

## To Reproduce
Steps to reproduce the behavior:
1. Create a manually-triggered (`on: workflow_dispatch`) GH workflow with a single job with the following step:
[code]
2. Run it

## Expected behavior
Should install Porter with no error.

## Actual behavior
[code]

[2021-03-18 18:04] philliphoff commented on #1501
@carolynvs Thanks, I'll poke around some more.  This is a brand new VM with the latest Porter client tools.  There is no `schema.json` in `~/.porter`, nor is there a `PORTER_HOME` environment variable defined.

[code]

[2021-03-18 18:43] carolynvs commented on #1501
Okay okay so it's using the filesystem plugin. I noticed that your command didn't include `--debug-plugins` which is the other flag needed to see communications with the storage plugin.

[2021-03-18 18:47] philliphoff commented on #1501
Ah, sorry about that, let me try again.

[code]

[2021-03-18 18:53] squillace commented on #1503
BUT let's point out a few things: if you standardize on dynamically naming bundles, you sacrifice any GitOps, pull-style approach because there's no record of your work without locating and keeping the logs of the GH action run.

Make sure that IF you decide on moving to fully dynamic, you do NOT have any intention of formally associating those values with any specific git commit. It's fine if you

[2021-03-18 18:56] carolynvs commented on #1501
Weird! A couple thoughts:

1. You should also be able to get this migration check to trigger by running `porter list --debug --debug-plugins`. It will fail faster and with less extraneous output I think.
2. Do you have write access to /home/node/.porter?
3. Can you run `tree -la /home/node/.porter` (if you don't have tree, I think `ls -laR /home/node/.porter`)

[2021-03-18 19:40] carolynvs commented on #1507
Thank you for reporting the bug! For the past couple months we have been having intermitent errors like the one you saw, or 503 is another one. @squillace and I are engaged with the storage/cdn support team and will pass along this info to them.

[2021-03-18 19:41] carolynvs commented on #1507
In the meantime, I apologize and have found that retrying usually works. If you find that retrying doesn't work, please let us know and we can investigate (beyond what we are actively engaged in already).

[2021-03-18 20:11] philliphoff commented on #1501
[code]

Ah, that looks a bit suspicious.  Even moreso when I go back to the Dockerfile:

[code]
I'll have to look into why Porter is installed that way.

Thanks for the pointers!

[2021-03-18 20:27] philliphoff opened #1508 "Direct way of consuming parameters/credentials as JSON objects?"
Is there a direct way of consuming parameters or credentials in `porter.yaml` as JSON objects (i.e. use their sub-properties as inputs to commands)?  Currently one might feed a parameter/credential into an `exec` command, which calls a `bash` script, which simply `echo`s the value, which can then be teased into individual outputs using `jsonPath`.  Is there a better way?

[2021-03-18 20:31] karolz-ms commented on #1507
@carolynvs thank you for quick reply, much appreciated! 🤗

I tried twice before opening the bug and encountered the problem each time. But I tried again now (after ~3 hours) and it worked. Oh well  🤷‍♂️

[2021-03-18 20:31] #1507 closed

[2021-03-19 14:49] carolynvs commented on #1507
I completely believe you about it failing before. We _are_experiencing intermittent download failures and have escalated it to support. I will let everyone in the community know when it's bee resolved. 😅

[2021-03-19 14:50] carolynvs commented on #1501
Oh, yeah looks like the file permissions aren't for the correct user anymore? Not sure where the dockerfile came from, let me know if this was something we put out!

[2021-03-19 15:16] carolynvs commented on #1508
We don't currently support that right now, you would need to do the workaround you laid out  (using exec mixin to grab the piece you want and output a sub-property).

However it could be possible for parameters with a bit of work in Porter. We support this for [custom values](https://porter.sh/author-bundles/#custom) defined in porter.yaml, where you can use templating like `{{ bundle.custom.myobj

[2021-03-19 18:39] philliphoff commented on #1501
The `Dockerfile` came from our team.  I think the `mv` was added because the installation happens as `root` during the build but the ultimate user is `node`.  One question: is Porter intended to be installed on a machine for all users or for individual users?

[2021-03-19 18:44] carolynvs commented on #1501
Right now it's designed to be installed for each user. Then if a [team wants to manage installations of bundles together](https://porter.sh/blog/porter-collaboration/), they would use a storage plugin so that Porter isn't writing to ~/.porter.

[2021-03-19 22:17] philliphoff commented on #1501
Ok, I've updated our `Dockerfile` to explicitly install Porter as the user being used within the container, and things work more smoothly now.  Thanks for the help!

[2021-03-19 22:17] #1501 closed

[2021-03-22 13:29] #1359 closed

[2021-03-22 14:27] carolynvs opened #1509 "Replace invocation image with installer in the docs"
Invocation image is something from the CNAB spec that we don't want to be exposing users do in either the CLI or docs.

[2021-03-22 14:28] carolynvs opened #1510 "Add page for Porter's templating"
Explain the templating syntax, that it is currently mustache, and any limitations.

[2021-03-22 14:29] carolynvs opened #1511 "Explain how to use a bundle for the first time"
This is how we expect people to use a bundle for the first time:
1.	User knows the bundle they want to use, e.g. porter explain -r ghcr.io/squillace/kubeflow:v0.1.9
2.	They run `porter explain --reference porter explain -r ghcr.io/squillace/kubeflow:v0.1.9` which tells you lots of information about the bundle, such as what parameters it accepts, and if credentials are required.
3.	They figure out

[2021-03-22 14:30] carolynvs opened #1512 "Add porter mixin create command"
It would be great to have a command that helps you clone and get started with skeletor.

[2021-03-22 14:32] carolynvs opened #1513 "Reorganize documentation"
Split the documentation site into a couple sections based on the intended reader:

* End User installing bundles
* Bundle Author
* Mixin or Plugin Author

[2021-03-22 19:05] carolynvs commented on #159
@itowlson Do you have any thoughts or feedback on how much of a burden it is to represent a list of items with unique values (like the mixins or parameters sections in the porter.yaml)? Right now I think we are pretty inconsistent and we may want to standardize on always using maps or always using a list with a unique value required for the name, etc.

[2021-03-22 21:59] philliphoff opened #1516 "In task, how to display output value of prior task?"
In my `porter.yaml`, I have one task that outputs a value that I want displayed in the deployment logs (e.g. the HTTP endpoint created by that task).  I tried to pass the output value to a subsequent `exec` task which just echos the value to the console.  However, the value ends up being masked (e.g. `******`).

Is there a way to disable this masking?

(I see other issues suggesting a `sensitive`

[2021-03-22 22:54] vdice commented on #1516
Hi @philliphoff great question.  Alas, step/task-level outputs indeed don't yet support the `sensitive` toggle.  An outstanding feature request around changing this is here: https://github.com/getporter/porter/issues/855

However, if the output is declared at the bundle-level (it may still be used in the same tasks), it will default to *not* being sensitive (but it may be marked as such).  See htt

[2021-03-22 23:29] philliphoff commented on #1516
Yes, this works, thanks!

[2021-03-22 23:29] #1516 closed

[2021-03-23 00:40] itowlson commented on #159
You mean in the JSON schema?  You could represent this parameter design as an object (ensuring unique keys) with no properties named in the schema but an `additionalProperties` to allow the user-defined names and the schema the values had to conform to.

I am not sure about the list of distinct values - the object trick won't work for that because they can't be keys (as they have no associated val

[2021-03-23 17:25] carolynvs commented on #159
I know that your VS Code extension is able to do intellisense for `{{ bundle.parameters.FOO }}` where the parameters are defined as follows:

[code]

I'm just making sure that switching to an object (as you suggested) for these types of things would make it easier for the extension to do it's magic? Basically I want to standardize and am double checking that using objects for stuff like this where

[2021-03-23 17:58] carolynvs commented on #1516
Oh weird! That seems confusing that sometimes outputs are sensitive and sometimes they aren't (by default). I'm adding another vote to fixing #855 before v1 then.

[2021-03-23 18:10] #1407 closed

[2021-03-23 18:29] carolynvs commented on #1445
Here is a report of the same underlying error "content digest mismatch" only this time it's happening with `porter archive`.

https://github.com/getporter/porter/discussions/1518

[2021-03-24 19:13] seb-bah opened #1519 "Is CNAB Spec verification workflow on the roadmap?"
**What is your question?**
Is the CNAB Verification workflow in Porter's Roadmap for implementation anytime soon? [CNAB Verification Workflows](https://github.com/cnabio/cnab-spec/blob/main/303-verification-workflows.md)

"In order to download and verify a bundle, a compliant runtime MUST take the following steps..."

I'm assuming that this would involve implementing including a tool such as Signy

[2021-03-25 05:08] itowlson commented on #159
Ah, sorry, misunderstood.  We'd need to change the parsing, so that the intellisense looked for the new keyed parameter/credential names rather than looking for `name` properties in the array.  This is under the following call:

https://github.com/getporter/vscode-extension/blob/6d7ed072d1bdd17e79cf4b4584a60cdee585b381/src/porter/ast.ts#L67

and I think the key function (that looks for `name`) is

[2021-03-25 05:11] itowlson commented on #159
I should have said: my estimate for making that change would be pretty quick, though YAML always manages to surprise me.  I don't think the code will end up any more complex, certainly not to a degree that would impede maintenance.

[2021-03-26 10:12] mikkelhegn opened #1521 "Installing porter fails using https://cdn.porter.sh/latest/install-linux.sh"
## Describe the bug
I'm using the install script from here: https://porter.sh/install/ --> Linux: `curl https://cdn.porter.sh/latest/install-linux.sh | bash`

Gettingthis error:
Error: error downloading https://cdn.porter.sh/mixins/atom.xml
Please include the following information in any bug reports:
PORTER_TRACE: porter/v0.36.0 porter_trace_1616753337183160100 : Get https://cdn.porter.sh/mixins/a

[2021-03-26 10:21] MikkelHegn commented on #1521
Me trying stuff...

I can install Porter if I leave out the mixin and plugin installations.

Trying to install a specific mixin version fails
[code]

[2021-03-26 15:41] squillace commented on #1521
if you're having this problem in WSL, there is a workaround: https://gist.github.com/coltenkrauter/608cfe02319ce60facd76373249b8ca6. it's horrible, but it works.

WSL team is trying to fix this, but it is a reasonably hairy networking dance they have to do so it might take a bit.

[2021-03-26 16:28] carolynvs commented on #1503
I just want to add that I would personally like to include more of the data that Porter has available to it in the templating. While some tasks are easier to do with other solutions, like porter publish --registry vs {{ bundle.registry }}, I don't want to let our preconceived notions of what tasks people are undertaking to cause us to avoid adding in certain values and therefore block tasks we did

[2021-03-26 17:50] karolz-ms commented on #1521
https://github.com/getporter/porter/issues/1507 here we go again ☺️

[2021-03-26 18:13] squillace commented on #1521
it's a nightmare but the WSL error is really a pain. :sigh: you would not believe the conversation we are having with Azure storage support on that one.

[2021-03-26 18:13] squillace commented on #1521
are you on WSL2, @karolz-ms ?

[2021-03-26 18:31] karolz-ms commented on #1521
https://github.com/getporter/porter/issues/1507 was not with WSL2, and the error was different, but it is in the same ballpark: essentially Porter installation script is trying to download some bits from the CDN and fails. In this case it seems like the DNS is in a bad state and CDN host name cannot be resolved. In https://github.com/getporter/porter/issues/1507 the CDN host name resolved fine but

[2021-03-26 18:32] karolz-ms commented on #1521
I was able to install Porter from my WSL2 environment just fine, but that was a couple of weeks ago

[2021-03-26 18:32] squillace commented on #1521
right, thanks! we'll go start yelling all over again once more before we pay to move to another CDN solution. :-|

[2021-03-29 13:42] carolynvs commented on #1503
I just re-read the OP and realized that you meant "why aren't they exposed via a CLI flag" when I thought you mean "in our set of template variables". 🤦‍♀️  Happy Monday!

[2021-03-29 16:23] carolynvs commented on #1521
Thanks for reporting that error. @squillace is this exact error due to WSL2? I have never seen it before and I'm not sure if I should escalate it as well to Azure support or if it's something else.

[2021-03-29 16:39] #1498 closed

[2021-03-29 16:42] carolynvs commented on #159
That doesn't seem bad, and yes the plan is to be more consistent so that we don't use an array with a name field to represent a set of values keyed off of a unique value anymore, and instead always use maps for those.

I'm going to add this to the v1 roadmap for consideration.

[2021-03-29 16:57] carolynvs commented on #1519
Good question! The CNAB Security spec hasn't been finalized yet. Once it's implemented in signy fully (see https://github.com/cnabio/signy/pull/80) we want to update signy's implementation a bit so that we can use it as a library to support the Security spec. I would love to see that happen in 2021.

I've updated the [roadmap](https://porter.sh/roadmap) to show that it's planned but isn't ready to

[2021-03-30 16:45] #1431 closed

[2021-03-30 16:51] carolynvs commented on #1508
I'm going to assume that this (above) is a workable design but if anyone has feedback on how they would like to use parameters that are a structured object (instead of a simple value), please leave a comment!

[2021-03-30 23:28] philliphoff commented on #1503
Yes, I *think* I can do what I want w.r.t. name/version/registry via the CLI build/publish/install arguments that override `porter.yaml`.  (Currently we are overwriting those values in `porter.yaml` with generated values as one of our CI steps.) Hopefully using the CLI arguments is a better way to do it. :-)

[2021-03-30 23:31] philliphoff commented on #1508
Yes, I think that design would work for us.

[2021-03-31 15:52] carolynvs commented on #1508
Thanks for letting me know! I think it's a straightforward change for someone familiar with Go. We would need to attempt to unmarshal the parameter as json, and if it works assign that to the parameter's value. If it can't be read as json, that would be a hard error, since the parameter validation which occurrs before the bundle is run should have checked that it's a json document already.

The ch

[2021-03-31 19:31] scottbuckel opened #1526 "Porter archive --reference returns different filesizes"
## Describe the bug
Porter archive returns different filesizes, so when running `signy verify`, the sha256 is different

## To Reproduce
[code]

Notice the filesizes are all within a few hundred bytes of each other

[code]

[code]

## Version
Copy the output of `porter version` below
porter v0.33.1 (4359277d)

[2021-04-01 11:44] joshuabezaleel commented on #1512
Hi @carolynvs 🙂 I think I am interested in this issue. Would you be okay with confirming whether I get the flow right first before trying to tackle it?
If I'm not wrong, the skeletor that you mentioned above as the skeleton for a Porter mixin was [this repository](https://github.com/getporter/skeletor). So the command of `porter mixin create` would essentially:
1. Clone the `github.com/getporter/s

[2021-04-01 15:32] carolynvs commented on #1512
Hey, that would be amazing if you implemented this command! 💯 Everything that you said is right on track.

[code]

[2021-04-02 00:33] joshuabezaleel commented on #1512
@carolynvs for cloning the repository, should I use a library like [go-git](https://github.com/go-git/go-git) or executing `git clone` command using go's `os.Exec` would be sufficient?

[2021-04-05 08:55] benc-uk commented on #1521
Definitely seems related to WSL2

I just installed in an Azure Cloud shell just fine with the CDN bash script. When I try in WSL2 (Ubuntu 20.04) I get the same error `Get https://cdn.porter.sh/mixins/atom.xml: dial tcp: lookup cdn.porter.sh on 172.22.160.1:53`

it's kinda weird, I'm going through my collection of installer scripts for a whole set of different tools, sdks etc, all of which run fine

[2021-04-05 09:13] benc-uk commented on #1521
Seems related to Golang and certain DNS records/servers, see https://github.com/golang/go/issues/44135

It's trivial to reproduce in Go just by calling `net.LookupHost("cdn.porter.sh")`, but if you try it with a different hostname like "example.net" it's fine

I wonder what is different about the Netlify DNS

[2021-04-05 14:06] squillace commented on #1521
@carolynvs yes, that's the error

[2021-04-05 14:33] carolynvs commented on #1521
@benc-uk Thanks for the details! I will look into that further and see what can be changed in how dns is compiled in our binaries to fix it.

[2021-04-05 14:55] #1510 closed

[2021-04-05 15:19] carolynvs commented on #1512
Oh sorry for the slow reply! I am totally fine with either way, though I think assuming git is available on the PATH and calling it with os.Exec is the easiest way to go.

[2021-04-05 15:24] squillace commented on #1521
Yeah @benc-uk double thanks on our part. This particular problem has been irritating us for months.

[2021-04-05 15:43] sebumd commented on #1526
Could this issue be caused by something like this? https://unix.stackexchange.com/questions/346789/compressing-two-identical-folders-give-different-result . Notice that my files have different timestamps...

In my case, I'm using `porter archive` to download the bundle and then `signy verify` to verify it. If we use `porter archive`, we will never be able to verify it with this behavior.

[2021-04-05 19:39] sebumd commented on #1526
I've been researching this, and it looks docker cli solves the issue in regular images by setting the dates of the files to 1/1/1970

See https://github.com/docker/cli/issues/2440 for reference

[2021-04-05 20:07] sebumd commented on #1526
Going further down this rabbit hole, I notice that the Docker image v1 spec noted that this couild be an issue: https://github.com/moby/moby/blob/master/image/spec/v1.md
[code]
https://github.com/moby/moby/blob/master/pkg/tarsum/tarsum_spec.md

[2021-04-05 20:10] sebumd commented on #1526
This will be a blocker for "Support CNAB Security Spec" in the roadmap - https://github.com/getporter/porter/projects/4#card-57939991

[2021-04-06 11:46] MikkelHegn commented on #1507
Would like to report another instance of this issue, which broke the creation of a dev container in Codespaces.

@carolynvs / @squillace - any ETA on something more stable this is really hurting what we're trying to do with Porter :-)

[code]

[2021-04-06 12:18] squillace commented on #1507
Yes. @carolynvs have we moved yet?

[2021-04-06 12:49] MikkelHegn commented on #1507
Another install error (haven't seen this before :-()

[code]

[2021-04-06 15:17] squillace commented on #1507
that's a special one. But the real question is whether we've moved hosting yet.

[2021-04-06 21:11] carolynvs commented on #1507
I am in the middle of moving our download infrastructure. I'll ping back here when the migration is complete!

[2021-04-06 21:32] MikkelHegn commented on #1507
We can definitely help verify once it's done ⛈🌧🌦🌥🌤🦄

[2021-04-07 17:41] carolynvs commented on #1432
This was fixed in #1524

[2021-04-07 17:41] #1432 closed

[2021-04-07 17:47] carolynvs commented on #1217
Let's implement the second suggestion above, where when we load a parameter set, first we check if it is a file on the local filesystem. If so load the parameter set from the file. Otherwise assume it is a parameter set name and load it normally.

The impacted code is located at https://github.com/getporter/porter/blob/ae88364c4c29e950813f8955168785bae212ca32/pkg/porter/parameters.go#L301-L307

[2021-04-07 17:54] carolynvs commented on #1403
You will need to edit the following code:

1. Add the Dir field
https://github.com/getporter/porter/blob/ae88364c4c29e950813f8955168785bae212ca32/pkg/exec/action.go#L99-L107
2. Allow any mixin to declare and use this field too by adding GetWorkingDirectory() to the ExecutableStep interface
https://github.com/getporter/porter/blob/ae88364c4c29e950813f8955168785bae212ca32/pkg/exec/builder/execute.go

[2021-04-07 17:58] carolynvs commented on #1480
Here is what needs to happen for this issue:

1. Only print the step description if it's set
https://github.com/getporter/porter/blob/ae88364c4c29e950813f8955168785bae212ca32/pkg/runtime/runtime.go#L76-L77
2. Return an empty string when the mixin step doesn't define a description (either because it's empty or not present)
https://github.com/getporter/porter/blob/ae88364c4c29e950813f8955168785bae21

[2021-04-08 09:15] andreas-baus opened #1532 "porter build fails when connecting to docker daemon via TCP+TLS"
## Describe the bug
We have set up a build pipeline on a custom kubernetes-based GitLab runner where we were unable to use the default socket-based connection to the docker daemon, so we had to use tcp. With this setup, 'docker build' commands still work; but 'porter build' commands fail during the 'Invocation Image Build' step because the connection to the docker daemon fails.

## To Reproduce
St

[2021-04-08 13:18] ThorstenHans commented on #1480
👋🏼 I would love to take this one

[2021-04-08 13:23] carolynvs commented on #1480
All yours!

[2021-04-08 18:42] carolynvs commented on #1507
@MikkelHegn I have updated DNS to point our downloads to the new host. You can tell if you are getting content from the new location because it will issue redirects to github.

For example:

[code]

[2021-04-08 18:43] carolynvs commented on #1276
I'll update that doc to reflect our new infra and then close out this issue.

[2021-04-08 18:58] MikkelHegn commented on #1507
Thanks @carolynvs - we'll let you know if we continue to see errors.

[2021-04-08 19:00] carolynvs commented on #1486
Closing since we haven't heard back in a while but if you are still seeing problems, let us know and I'll reopen.

[2021-04-08 19:00] #1486 closed

[2021-04-08 19:38] #1480 closed

[2021-04-09 14:53] ThorstenHans commented on #1403
👋🏼 I would love to take this one

[2021-04-12 09:24] jasmdk opened #1539 "porter explain does not list parameters which are scoped using 'applyTo'"
## Describe the bug
When doing 'porter explain' only parameters that do apply to all actions are shown.

## To Reproduce
Steps to reproduce the behavior:
1. Run `porter create`
2. In the porter.yaml comment in the "parameters" section
3. Create another parameter, but for this add a scope like:
  - name: mysql_user2
    type: string
    default: wordpress
    applyTo:
      - install

4. Run `porte

[2021-04-12 13:58] carolynvs commented on #1539
Thanks for letting us know!

[2021-04-14 15:51] #1539 closed

[2021-04-26 17:01] carolynvs opened #1546 "Speed up release process, aka I hate waiting"
The biggest reason why our release process is slow are our integration tests. They take about ~18 minutes. Here's a suggestion for how to we can speed up our pull requests and release builds while still using our existing test suite which is great at identifying regressions.

1. Do not run integration tests by default for a pull request unless certain directories are modified. The reviewer can alw

[2021-04-26 18:35] vdice commented on #1546
👍 I'm in support of all suggestions.  They all sound like great optimizations.

[2021-04-26 22:31] carolynvs commented on #1445
Here is another way this can manifest:

1. Publish a bundle from machine A.
2. Publish that bundle from machine B overwriting the same tag.
3. Run porter archive from machine A.

[code]

The problem is that machine A has a cached definition of the bundle. When archive is run, the invocation image is pulled and the digest on that invocation image is compared with the CACHED definition of the bundle

[2021-04-27 14:05] #1162 closed

[2021-04-27 15:24] #1526 closed

[2021-04-30 18:45] ThorstenHans commented on #1491
what about `default`

[2021-05-03 18:40] #1403 closed

[2021-05-03 19:04] carolynvs opened #1553 "Switch from packr to go:embed"
Currently we use github.com/gobuffalo/packr to embed templates in our binary. Once we upgrade to Go 1.16 we can use [go:embed](https://golang.org/pkg/embed/) instead, which will speed up our build and remove a point of common errors.

1. Find usages of packr and switch to using go:embed
2. Remove the go:generate file headers and calls from the makefile
3. Remove packr from our go.mod+go.sum

[2021-05-04 11:39] jasmdk opened #1554 "Porter does not handle parameters of type number even though it is stated in documentation"
## Describe the bug
https://porter.sh/author-bundles/#parameters documents the parameter type as if "number" is a valid type, but if you try to define such a parameter, porter will fail.

Also here it states that porter schema differs from CNAB as CNAB does not support non-integers (neither does Porter apparently): https://porter.sh/author-bundles/#parameter-and-output-schema

The schema (https://

[2021-05-04 14:36] carolynvs commented on #1554
Thanks for clearly identifying where the documentation is out of date. I see two problems:

1. Our documentation is incorrect. What works right now with porter is the "integer" parameter type.
2. After reviewing the canonical json spec, the cnab spec and the recommended library for canonical json in Go, I believe we made a mistake in the cnab spec limiting numbers. I have opened an issue with the

[2021-05-04 14:59] carolynvs commented on #1491
My concern with default is that it doesn't tell you anything about what the output will be, only that it's the default displayed when the flag isn't specified. The other output values: json, yaml, tell you what you are going to get, you know?

[2021-05-04 15:08] ThorstenHans commented on #1491
Totally agree. However it is currently a mix of plain and table 😂

[2021-05-04 21:15] carolynvs opened #1556 "TestSuppressOutput is a flake"
I have noticed that TestSuppressOutput (and only that test) sometimes fails because not all of the bundle output is captured, often it stops at "installing bundle" or whatever and then the rest isn't in the captured string. So when the test checks for a substring in the output, it isn't found and it fails.

I can't tell if this is a really subtle bug in porter that only reproduces in this one test

[2021-05-05 13:28] Ka0o0 opened #1557 "Porter go library creates out of memory situation upon file system read actions"
## Describe the bug
I didn't manage to use the Go library in its current version as it will always consume my computers memory and make it crash. I've created a simple test case where I try to list all installations.

When debugging, it starts to hang during the connect process of the rpc client (source file [source](https://github.com/getporter/porter/blob/v0.38.1/pkg/plugins/pluggable/loader.go#

[2021-05-05 15:49] #1257 closed

[2021-05-05 15:50] carolynvs opened #1559 "Add field for maintainers to porter.yaml"
Maintainers is a field in bundle.json but isn't in porter.yaml. The bundles that we produce are still CNAB compliant but there isn't a way to populate this data using Porter right now.

**porter.yaml**
[code]

1. Add `maintainers` field to the porter.yaml definition in https://github.com/getporter/porter/blob/bcf925b3b67851f48630b3163b620d0a79bcfb8d/pkg/manifest/manifest.go#L26. Both maintainers a

[2021-05-07 10:39] ThorstenHans commented on #1559
can I take this one?

[2021-05-07 21:01] carolynvs opened #1566 "Include compatible porter version in porter.yaml"
The porter.yaml file should include a field that indicates which versions of porter it is compatible with. We can have `porterVersion: PORTER_SEMVER_RANGE`, for example `schemaVersion: 1.x` would say that it is written for porter versions 1-2. `schemaVersion: 1.5.x` would translate to 1.5-2.

For versions above 1.0 this works well because we only make breaking schema changes on major versions.

Fo

[2021-05-07 22:05] carolynvs commented on #1557
Hey @Ka0o0! It's super cool to see someone using Porter's libraries. Please be a bit patient as not many people have tried this yet and our documentation doesn't cover this very much.

I have edited your main.go to get listing installations to work (below). What was happening is that the porter library was attempting to connect to a plugin (we use plugins for storage, so that people can write to t

[2021-05-07 22:07] carolynvs commented on #1503
I'm closing this because it seems that the question has been answered. Just let me know if we should revisit it!

[2021-05-07 22:07] #1503 closed

[2021-05-07 22:09] carolynvs commented on #1326
@squillace I'm closing because I haven't heard back and it sounds like this may not be happening anymore. Please reopen if you have more info!

[2021-05-07 22:09] #1326 closed

[2021-05-08 16:53] ThorstenHans commented on #1559
🙏😁

https://thorsten-hans.com
________________________________
From: Carolyn Van Slyck ***@***.***>
Sent: Saturday, May 8, 2021 1:32:25 PM
To: getporter/porter ***@***.***>
Cc: Thorsten Hans ***@***.***>; Assign ***@***.***>
Subject: Re: [getporter/porter] Add field for maintainers to porter.yaml (#1559)

Assigned #1559<https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%

[2021-05-10 01:31] carolynvs commented on #1497
I'm working on upgrading Porter to Go 1.16 (which has M1 support) in #1568

[2021-05-10 02:01] carolynvs opened #1569 "Integrate validate into the main call"
I regret splitting up validation of calls into a separate function that the caller must manage. I originally did that for reasons related to testing the CLI but really we never test the CLI from that direction anyway (PreRunE vs Run).

I'd like to see Validate called on cli commands automatically. e.g. Build will call validate on the specified options, instead of assuming that the caller did it. W

[2021-05-10 02:25] carolynvs commented on #650
We are pretty firmly on https://github.com/go-yaml/yaml v3 now. Closing.

[2021-05-10 02:25] #650 closed

[2021-05-10 02:40] carolynvs commented on #1229
Sounds like this is resolved. Let me know if it's still a problem and we can investigate.

[2021-05-10 02:40] #1229 closed

[2021-05-10 02:42] carolynvs commented on #1224
@vdice Assuming that your thoughts on multi-os/arch are correct, is this a bug with porter that needs fixing? Perhaps something that we need to document?

[2021-05-10 02:46] carolynvs commented on #872
Sounds like this is a jsonpath syntax error. Closing for now but let me know if we think a change to porter or its docs is necessary.

[2021-05-10 02:46] #872 closed

[2021-05-10 02:47] carolynvs commented on #851
Now that we are using go-yaml v3, we can pull out the node and provide the raw yaml to the step, without the round trip through a go struct.

[2021-05-10 02:50] carolynvs commented on #398
Fixed close enough in #1056. If we want to do more, let's open a separate issue. Since we want to move more towards generating files for people to edit, vs do interactive prompts, I am not sure we need to fix further.

[2021-05-10 02:50] #398 closed

[2021-05-10 02:54] carolynvs commented on #864
We have most of this implemented now. We should keep these ideas in mind for future migrations.

[2021-05-10 02:54] #864 closed

[2021-05-10 03:00] carolynvs opened #1570 "Rearrange dependencies syntax in porter.yaml"
We know that we want to change the dependencies structure to allow for a "provides" section. As long as we are having a 1.0, let's make the change to "requires" now so that when we roll out dependencies it's not another breaking change.

[code]

to

[code]

[2021-05-10 03:08] carolynvs commented on #316
for v1 I'd like only a way to address the ability to use a number/bool (not string) as a field value in a template. I need to write up a proposal, but essentially we can use a yaml node tag to identify templated nodes.

[2021-05-10 03:17] carolynvs opened #1571 "Move dependpencies template variable from bundle to installation"
Change dependencies templating from bundle.dependencies.* to installation.dependencies.* and make more information available from the runtime (i.e. the installation name of a dependency).

bundle.* should be used for static information about the bundle, such as its name. The dependencies are things resolved at runtime.

[2021-05-10 11:25] ThorstenHans commented on #1570
I've created a draft PR for this one. I need some help / context about the test-data being used in `install_test.go`. Further information in #1573

[2021-05-10 12:02] ThorstenHans commented on #1260
My understanding is that `lifecycle.go:96` is responsible for setting the installation name if it is not specified?

https://github.com/getporter/porter/blob/bcf925b3b67851f48630b3163b620d0a79bcfb8d/pkg/porter/lifecycle.go#L96

if that's the case, I would suggest sluggifying the name of the bundle. So that we endup with `h3llo-world` for a potential bundle name of `H3llo$ World!!`

[2021-05-10 15:19] carolynvs commented on #1260
Thanks for identifying the line we need to change! 🙇‍♀️

[2021-05-11 09:04] ThorstenHans commented on #1260
cool. I will modify this one and add a corresponding unit test

[2021-05-11 13:44] carolynvs opened #1576 "Error downloading Porter assets"
## Describe the bug
I run `porter mixin install` and got

[code]

This appears to have been a transient error in Porter's download infrastructure (Netlify + GitHub). Nothing new had been published lately, so the atom.xml file should have served fine. It is served as a redirect from https://github.com/getporter/packages/blob/main/mixins/atom.xml.

I don't know what else to do about the download rel

[2021-05-11 22:32] lrskyum commented on #491
We have a helpers.sh function that reads and outputs from /dev/urandom - works ok.

[2021-05-12 17:21] carolynvs commented on #578
@lrskyum Can you tell me more about a "semantic of porter.yaml"? I would love to know what that is and understand if there is a gap in Porter today.

[2021-05-12 17:24] carolynvs commented on #1224
I am making a new issue label, `stumped`, just for this issue and removing from the 1.0 milestone. If anyone runs into something that looks like this and has more information, please comment! 😀

[2021-05-12 17:26] carolynvs commented on #1192
Yeah the default plugins for storage and secrets are built into the porter binary. I'll submit a PR to just install porter + exec mixin and then update the documentation to make it clear you have to install the mixins yourself.

[2021-05-12 20:47] vdice commented on #1444
I wanted to first try to build Porter with the cnab-go version in the following staged PR from Carolyn: https://github.com/cnabio/cnab-go/pull/247

Sure enough, with that version (which uses a different canonical json library), we get the fix for free (`\n` chars substituted in where applicable) when marshal-ing the bundle.  No extra code need be added to Porter! 🎉

Therefore, I propose we just si

[2021-05-13 14:52] carolynvs commented on #1576
Happened again in one of our builds

[code]

I will ask in Netlify's forum what troubleshooting that we can do. 😭

[2021-05-13 15:42] lrskyum commented on #578
I meant to say "semantic test of porter", sorry. Anyway, it has to do with our use of the helm3 mixin mostly, and whatever images are referenced in our charts also has to be referenced in a thick bundle. So we have identified these upfront:
Check that bundle definition in porter.yaml is consistent.

- an image is included twice, possibly using different image names (not tags)
- an image is added,

[2021-05-13 16:42] carolynvs commented on #578
Thanks for sharing these are great checks! @MChorfa @vdice What do you think about incorporating checks like these into helm3's linter? I think these are good things for everyone to check?

[2021-05-13 20:55] vdice commented on #1459
We can close this once the cnab-go [fix](https://github.com/cnabio/cnab-go/pull/251) (or similar) is integrated into Porter.

[2021-05-15 16:06] flynnduism opened #1583 "blog(design): clean up author byline and tag layout"
What we have now looks funny. The alignment and scaling is off.
https://porter.sh/blog/migrate-from-docker-app/

<img width="1288" alt="Screen Shot 2021-05-15 at 9 05 57 AM" src="https://user-images.githubusercontent.com/686194/118370508-d5971880-b55c-11eb-8f6e-587d28dbf5dd.png">

[2021-05-15 16:09] flynnduism opened #1584 "site(layout): improve css for mobile layouts"
Rendering on a small screen, e.g. mobile. You’ll see when you pull it up but it’s hard to navigate and a lot of the text is the wrong size, relative to other parts of the page.

<img width="500" alt="Screen Shot 2021-05-15 at 9 08 54 AM" src="https://user-images.githubusercontent.com/686194/118370607-3292ce80-b55d-11eb-8b33-d1c7bc3ee657.png">

[2021-05-16 01:32] carolynvs opened #1585 "Hide porter managed bundle outputs"
When I added logs as a generated output for bundles, it started showing up in the bundle commands like show and porter installation output list.

I think it's confusing for people to see there, and we want to encourage people to look at the logs using the dedicated porter logs command instead. Just like we hide porter generated parameters, like debug, I think we should also hide porter generated o

[2021-05-16 14:06] carolynvs opened #1587 "List hashicorp plugin on plugins page"
We should link to the @dev-drprasad 's hashicorp plugin on https://porter.sh/plugins, just like we do for the azure plugin.

* Here is where we need a page for hashicorp: https://github.com/getporter/porter/tree/main/docs/content/plugins
* The page should contain a subset of the information on the readme, the same type of information as with the azure plugin: https://github.com/dev-drprasad/porter

[2021-05-16 16:30] carolynvs opened #1591 "List kubernetes plugin on the plugins page"
We should document the Kubernetes plugin on our [plugins](https://porter.sh/plugins/) page.

* Here is where we need a page added: https://github.com/getporter/porter/tree/main/docs/content/plugins
* The page should contain a subset of the information on the [kubernetes plugin readme](https://github.com/getporter/kubernetes-plugins/blob/main/README.md), and show the same type of information as wit

[2021-05-17 19:14] carolynvs opened #1592 "Add RSS/atom feed to our blog"
RSS is dead, long live RSS!

[2021-05-17 22:21] carolynvs commented on #1491
Yup! That is the point of this issue, to become consistent by selecting either plaintext or table and then updating existing commands to use the agreed upon term.

[2021-05-18 13:54] carolynvs commented on #1557
@Ka0o0 I hope the code above got you past the problem that you were seeing. Please let us know if there are further difficulties with using the library! I would love to help you build on top of Porter. 👍

[2021-05-18 14:46] Ka0o0 commented on #1557
Hi @carolynvs,

thanks for getting back. I haven't had the chance to try it out yet as I had to shift my focus to some other tasks. Regarding your suggested fix, it makes sense to me. Actually, I was thinking that the library would work a bit different and I guess this is what you were asking for with your question? So I thought that the library would simply be a wrapper around Go's exec functiona

[2021-05-18 17:41] carolynvs commented on #1557
Oh! I see what you mean. Thanks for sharing what you expected the library to do.

Yeah, the porter library right now is the underlying go library that we used to build the porter CLI. In the future as we develop the Porter Operator, the porter CLI (and this library) will also be able to communicate remotely with that operator, much more in the fashion you were expecting, like kubectl.

I'll keep t

[2021-05-18 17:41] #1557 closed

[2021-05-18 18:18] carolynvs opened #1596 "Are you using Porter?"
# Are you using Porter?

If you are using Porter, yay! 🎉 Thank you for giving us a shot.

Do you have a blocker to using Porter? [Let us know!](https://github.com/getporter/porter/issues/new)

We really need to know who a Porter user:

* **Project funding is based on users**.
* Our CNCF status is based on having adopters.
* Our design is open and based on user feedback. If you are actively using P

[2021-05-18 18:56] carolynvs commented on #1576
Buggy download go brrr

[code]

[2021-05-21 20:50] carolynvs opened #1600 "Incorrect number of parameters when generating parameter sets"
## Describe the bug
Porter is showing the TOTAL number of parameters in the bundle, including porter specific parameters which are not included in the parameter set.

## To Reproduce
Run porter parameters generate for any bundle. Note that it shows a number one higher than the number of parameters defined in porter.yaml because it is counting PORTER_DEBUG.

## Expected behavior
It should show the

[2021-05-21 23:05] carolynvs commented on #1576
I saw this from our install check

[code]

[2021-05-22 19:27] carolynvs commented on #30
Closing in favor of the mixin design in https://github.com/getporter/proposals/pull/7. Instead of managing a global mixin version, each bundle will specify which mixin and version it uses. There may be a command in porter to bump the version of a mixin used in a bundle, but that will come from the PEP and replace this anyway.

[2021-05-22 19:27] #30 closed

[2021-05-22 19:31] carolynvs commented on #70
As a more general change, mixins should be able to modify the bundle definition during build, instead of just outputing dockerfile lines. So a mixin could add referenced images, or require docker.

[2021-05-22 19:32] carolynvs commented on #113
This has been done for a while. https://marketplace.visualstudio.com/items?itemName=ms-kubernetes-tools.porter-vscode

[2021-05-22 19:32] #113 closed

[2021-05-22 19:34] carolynvs commented on #136
Closing this since we have the other issues to track the changes. Both remaining issues are in our v1 milestone.

[2021-05-22 19:34] #136 closed

[2021-05-22 19:35] carolynvs commented on #141
This has since been resolved

[2021-05-22 19:35] #141 closed

[2021-05-22 19:38] carolynvs commented on #147
Closing since Porter no longer merges dependencies into a bundle anymore. See https://github.com/getporter/proposals/pull/8 for our latest plans with dependencies. That PEP doesn't specifically address parameters, however CNAB now supports parameter sources, where a bundle can satisfy parameters from the output of its dependencies.

[2021-05-22 19:38] #147 closed

[2021-05-22 19:40] carolynvs commented on #150
We are going in a different direction now with mixins, and want to install per bundle instead of globally. If there are any ideas from this that aren't in our two mixin proposals, let's incorporate them into the PEPs there.

https://github.com/getporter/proposals/pull/7
https://github.com/getporter/porter/discussions/1499

[2021-05-22 19:40] #150 closed

[2021-05-22 19:42] carolynvs commented on #209
Bundles should only be validated at build-time, during the lint command. Superceeded by https://github.com/getporter/porter/issues/1175

[2021-05-22 19:42] #209 closed

[2021-05-22 19:44] carolynvs commented on #255
Porter can now build against a remote docker daemon. Further changes needed will be addressed with a custom build driver (building off of the changes in #1567)

[2021-05-22 19:44] #255 closed

[2021-05-22 19:46] carolynvs commented on #318
Closing now that mixins have bundle level config. No one takes advantage of this to do what I had originally thought but it provides the hooks/data for it.

[2021-05-22 19:46] #318 closed

[2021-05-22 19:49] carolynvs commented on #353
Done!

[2021-05-22 19:49] #353 closed

[2021-05-22 19:50] carolynvs commented on #356
Done! https://porter.sh/credentials

[2021-05-22 19:50] #356 closed

[2021-05-22 19:52] carolynvs commented on #361
Closing now that we have experimental build drivers #1567. If we need more, we now have the framework to drop them in.

[2021-05-22 19:52] #361 closed

[2021-05-22 19:52] carolynvs commented on #367
Not relevant anymore.

[2021-05-22 19:52] #367 closed

[2021-05-22 19:54] #397 closed

[2021-05-22 19:54] #425 closed

[2021-05-22 19:54] #442 closed

[2021-05-22 19:55] carolynvs commented on #467
https://porter.sh/mixins/exec

[2021-05-22 19:55] #467 closed

[2021-05-22 19:56] carolynvs commented on #468
https://porter.sh/mixins/terraform

[2021-05-22 19:56] #468 closed

[2021-05-22 19:56] carolynvs commented on #469
https://porter.sh/mixins/az

[2021-05-22 19:56] #469 closed

[2021-05-22 19:56] carolynvs commented on #470
https://porter.sh/mixins/helm

[2021-05-22 19:56] #470 closed

[2021-05-22 19:57] carolynvs commented on #471
https://porter.sh/mixins/kubernetes

[2021-05-22 19:57] #471 closed

[2021-05-22 19:58] carolynvs commented on #663
Closing since params work well for this.

[2021-05-22 19:58] #663 closed

[2021-05-24 15:39] carolynvs opened #1604 "parameters generate command should allow using default values"
When a parameter has a default value defined, we should allow skipping setting that parameter in the parameter set so that they can use the default value.

Example
[code]

[2021-05-24 15:49] #1285 closed

[2021-05-24 15:54] #1559 closed

[2021-05-24 16:16] #1192 closed

[2021-05-24 16:19] carolynvs commented on #1268
This has been implemented in the v1 branch. I will work this week to get an alpha build out for people to try.

[2021-05-24 16:19] #1268 closed

[2021-05-24 16:26] carolynvs commented on #1447
@vdice Do you think that your fix from earlier, allowing people to specify a build context directory, fixes this?

[2021-05-24 16:26] #1570 closed

[2021-05-24 19:39] vdice commented on #1447
@carolynvs yes.  Perhaps we can check in with @simongdavies to be sure we've covered the intended use cases, but `porter build` supports an alternate build context dir and/or porter.yaml filepath.  Note that the action commands `porter install`, etc., only support the latter, however.

[2021-05-24 20:51] carolynvs commented on #1447
@simongdavies Can you try building the bundle using the --dir (works the same way as the docker build context in conjunction with --file) and let us know if that fixed the problem? e.g.

[code]

[2021-05-24 23:54] divbhasin commented on #1604
I would like to work on this :) Did some digging and I think I know what changes need to be made. Just wanted to clarify that the "default" value for a param refers to the following result of running `porter explain` on `hello-llama`:

![Screen Shot 2021-05-24 at 7 52 10 PM](https://user-images.githubusercontent.com/5903786/119420081-a0f82f00-bcc9-11eb-8434-18400be16ab8.png)

[2021-05-25 00:20] carolynvs commented on #1023
Closing since #1603 was merged

[2021-05-25 00:20] #1023 closed

[2021-05-25 14:46] carolynvs commented on #1604
Yup! That is the default value used for the parameter when the user does not specify it. 👍

[2021-05-25 21:50] flynnduism commented on #1592
Closed via #1593, which adds RSS links and limits the feed to specifically list blog posts, rather than everything

[2021-05-25 21:50] flynnduism commented on #1583
Was addressed via #1593

[2021-05-25 21:50] #1583 closed

[2021-05-26 15:04] #1592 closed

[2021-06-01 10:12] jasmdk opened #1609 "Does porter archive or copy really need to consult index.docker.io for bundled images?"
**Is your feature request related to a problem? Please describe.**
Due to the pull-rate-limitation imposed by docker.io, working with porter bundles often reach the limit on our CI setups.
Locally developers have a docker user and docker daemon on CI agents have been configured with a registry-mirror, but anyway when I archive or copy a bundle which includes bundle images, it still accesses the RE

[2021-06-01 18:01] #1553 closed

[2021-06-01 18:17] carolynvs commented on #1497
We should modify our Makefiles so that we not only build our binaries for linux, windows and darwin on amd64 but also build an m1 binary for darwin as well.

https://github.com/getporter/porter/blob/a87b0f3bae3ea60f40d5680f32c08dd7a80572cd/mixin.mk#L21-L22

Right now we just build a matrix of all OS and ARCH. I am not sure what would happen if we added another GOARCH entry for M1(`arm64`). Part of

[2021-06-02 16:39] flynnduism commented on #1584
Closed via #1606

[2021-06-02 16:39] #1584 closed

[2021-06-03 18:34] carolynvs commented on #1609
Hi @jasmdk, let me recap how to move a bundle across an airgap, and copy it between registryes, and then we can compare that to the commands that you used.

1. publish the bundle to a registry, e.g. `porter publish --registry docker.io/getporter`. This bundle has references to other images on docker hub, e.g. docker.io/nginx.
2. Archive the bundle. This copies the bundle, _and all referenced image

[2021-06-03 18:49] DARK-art108 commented on #1591
Can I work upon this issue!

[2021-06-03 19:57] carolynvs commented on #1591
@DARK-art108 sure thing, thanks for helping!

[2021-06-03 20:30] carolynvs commented on #1430
Another inconsistency which was introduced after we settled on adding an installation command. Some commands related to installations are under the bundle resources in the CLI

[code]

The following commands should be moved under installation:
* porter installation create  (aliased to porter install)
* porter installation upgrade (aliased to porter upgrade)
* porter installation uninstall (aliased

[2021-06-03 20:50] carolynvs opened #1616 "Can porter help with bundle digest checking?"
What would it look like for a user who always wants to check the bundle digest against a well known digest before running it?
For example, when installing, would they do this `porter install --reference something@DIGEST` or would they still want to work with the version in some places?

For upgrade, we should store the digest in the installation record, and when we aren't changing references, comp

[2021-06-03 21:02] carolynvs opened #1617 "Porter should cache claim data"
Now that claims are fully append only (we don't go back and edit claims, results, or outputs), porter can really improve performance by caching these once we have them. We will still need to hit the storage layer for a list of ids, but we can hold off on retrieving those ids if we have them in the cache.

Right now our bundle cache is in PORTER_HOME/cache. Let's move it to PORTER_HOME/cache/bundle

[2021-06-04 11:21] jasmdk commented on #1609
Hi @carolynvs, I agree with the steps you outline.
In my scenario I do conceptually the same, and step5 executed with my network cable unplugged results in:
`Error: error preparing artifacts: Get https://index.docker.io/v2/: dial tcp: lookup index.docker.io: no such host`
In some scenario where I already copied the bundle to the registry under a different name does not always fail - but a freshly

[2021-06-04 14:20] carolynvs commented on #1609
It sounds like you may have found a bug, but I am unclear on the reproduction steps. The steps I outlined should not hit the original registry once the bundle is relocated to another. Are you able to reproduce this with a test bundle, for example [getporter/whalegap:v0.1.0](https://hub.docker.com/r/getporter/whalegap/tags)?

If you can provide a set of steps for me to follow with a public bundle,

[2021-06-04 16:06] vdice commented on #1444
I can confirm that this issue is fixed as of https://github.com/getporter/porter/commit/ed52bc1dbbfd9c99c356d1cda7633abf7fcae4aa on the v1 branch.

[2021-06-04 16:06] vdice commented on #1459
I can confirm that this issue is fixed as of https://github.com/getporter/porter/commit/ed52bc1dbbfd9c99c356d1cda7633abf7fcae4aa on the v1 branch.

[2021-06-04 17:44] DARK-art108 commented on #1587
Can I work on this issue?

[2021-06-05 08:38] joshuabezaleel opened #1620 "Inconsistent CSS designs at Porter's website"
## Describe the bug
Several inconsistencies found on the Porter website. The 1st picture of `install` page follows the usual layout meanwhile the 2nd picture of `quickstart` page seems too close to the top or there are pages which are too close to the left menu bar like the 3rd picture of `mixins` page. These inconsistencies are found across varying pages not only on the mentioned pages. Screensho

[2021-06-05 16:04] carolynvs commented on #1620
Assigning to @flynnduism, our CSS overlord.

[2021-06-05 16:05] #1591 closed

[2021-06-05 16:14] carolynvs commented on #1587
@DARK-art108 Yes please! 👍

[2021-06-05 16:17] #1444 closed

[2021-06-05 16:19] carolynvs commented on #1459
I am working on getting a build out of our v1 prerelease so that people can try this out. I'm going to close this issue since we have a fix merged, and will send out an announcement when I have a v1 build ready for people to try out.

Make sure to join our [mailing list](https://porter.sh/mailing-list) or [slack](https://porter.sh/community/#slack) to know when a build is ready to test.

[2021-06-07 08:03] DARK-art108 opened #1624 "Adding More Details about mixins and plugins with supported platform in README.md"
**What design is being proposed?**
In README.md we should add some details about the porter mixins and plugins, and what all platform porter supports, this will help contributors to get basic insights from the readme.md, if they want to learn more about them they should read docs.

**This can be performed by adding tables like below [Source: Meshery(Layer5)]**

![design1](https://user-images.githu

[2021-06-07 11:23] jasmdk commented on #1609
To reproduce these airgapped scenarios, I assume you have a local (here insecure) registry running like:
`docker run --name myregistry -p 5000:5000 --restart unless-stopped registry:2`

To start with your "whalegap" bundle, do:
`porter copy --source getporter/whalegap:v0.1.0 --destination localhost:5000/whalegap:v0.1.0`

Now unplug your internet and copy the bundle already copied to the registry t

[2021-06-07 15:16] carolynvs commented on #1609
Thanks for the reproduction steps. I believe the bug is with copy and I have opened an [issue](https://github.com/cnabio/cnab-to-oci/issues/108) against the cnab-to-oci library to track it. If you follow the steps that I outlined above in my original reply, you should be able to work around the bug until we have a fix, i.e. use archive+publish to move a bundle instead of copy.

[2021-06-07 21:59] carolynvs commented on #1624
So are you thinking something like this?

## Mixins
Mixins provide out-of-the-box support for interacting with different tools and services from inside a bundle. You can always create a mixin, or use the exec mixin and a Custom Dockerfile if a custom mixin doesn't exist yet.
| Mixin |  Supported |
|----------|------------|
| [Kubernetes](https://porter.sh/mixins/kubernetes) | stable |
| [Azure](ht

[2021-06-08 05:41] DARK-art108 commented on #1624
Yes, exactly that what I am referring to! @carolynvs

[2021-06-08 07:08] jasmdk commented on #1609
Thanks - it does work as airgapped once the bundle has been exported.
Our current problem is more related to our CI which will pull bundles from a registry and install them during testing, but as our build agents do not have an valid docker hub user, then our complete set of build agents work with anonymous access against docker.io and our company exposes a single external IP so we often hit the d

[2021-06-08 12:39] #1587 closed

[2021-06-08 12:42] carolynvs commented on #1609
I have an [upstream PR to fix cnab-to-oci's copy functionality](https://github.com/cnabio/cnab-to-oci/pull/109). I expect that to be merged soon and then I'll cut a release of Porter with the fix.

[2021-06-08 14:24] carolynvs opened #1625 "Remove migrations for v1"
We are dropping support for older storage formats and schema in v1. Remove the migrations (and in another story add a migration from the current schema to one that supports installation state).

[2021-06-08 15:22] carolynvs commented on #1177
I have started working on this as part of adding installation documents to the set of stored porter data.

[2021-06-08 18:09] jasmdk commented on #1609
Thank you for your quick response - as usual :-)

[2021-06-08 19:11] #1585 closed

[2021-06-08 19:14] carolynvs commented on #1446
I am implementing this as part of the verification of the Installation State Specification.

[2021-06-08 19:15] carolynvs opened #1626 "Docs: How to specify installing a bundle by digest"
Allow the user to provide a known digest for a bundle to validate against. Also save the digest of each bundle used on the claim so that we can track changes, and enforce the digest doesn't change for simple upgrades (where the bundle wasn't changed).

[2021-06-10 14:44] DARK-art108 opened #1627 "Inconsistent Image Size across all the Plugins Page"
## Describe the bug
The plugin pages like Kubernetes, azure, and Hashicorp have inconsistent image sizes which look bad, resizing it and making it in a similar dimension would be great!

## To Reproduce
Steps to reproduce the behavior:
1. Take a look at Plugin Pages: Kubernetes.md, azure.md, hashicorp.md

## Expected behavior
_Resizing Images_ to similar sizes which makes page UI perfect would be

[2021-06-10 16:47] carolynvs commented on #1627
I just checked the pages and they do all have the same width (300px). However since one of the logos isn't square, they all look different. If we swapped out the azure logo for a this one, I think they would look more consistent.
![Azure-A-256px](https://user-images.githubusercontent.com/1368985/121564950-9801a000-c9e1-11eb-9a35-2c86772022d9.png)

[2021-06-10 17:04] DARK-art108 commented on #1627
Yes @carolynvs we can change the azure logo to look similar to others!

[2021-06-10 17:34] carolynvs commented on #1627
Thanks!

[2021-06-11 12:42] #1627 closed

[2021-06-14 15:12] DARK-art108 opened #1635 "Adding More Badges to Readme.md"
**What design is being proposed?**
We can have some badges like _docker pulls_ , _Twitter followers_, _go report_ and others mentioned below in Readme.md!
![badges](https://user-images.githubusercontent.com/53623244/121915582-f7004580-cd50-11eb-9344-b3a26d676489.PNG)

**Additional Context**

**Risks/Concerns**

**What other approaches were considered?**

**Implementation details**

# Checklist
- [

[2021-06-14 17:32] carolynvs commented on #1430
Petition to change the explain and inspect to use positional arguments

[code]

[2021-06-14 18:48] #1609 closed

[2021-06-16 18:34] carolynvs commented on #1341
Let's do progressive enhancement on this. If the mixin doesn't support returning it's configuration schema, then we allow any properties underneath and the mixin can be a string or an object while child properties. Otherwise inject the config schema into the final schema.

[2021-06-16 18:44] carolynvs commented on #1027
We can also just encrypt the sensitive bits
claim:
name: foo
parameters: ENCRYPTED # key in porter config

[2021-06-16 18:56] carolynvs opened #1644 "Version the porter.sh documentation"
We need a version toggle just like helm has so that people can see the latest stable docs, and the docs from our prerelease.

[2021-06-17 13:06] carolynvs commented on #1609
This should now be fixed in [v0.38.3](https://github.com/getporter/porter/releases/tag/v0.38.3)

[2021-06-17 17:37] carolynvs commented on #1635
Let's consider which badges would be helpful to someone to see on our readme. I don't want to show a badge just because we can, let's make sure that each badge communicates information that is necessary to our users.

* docker pulls - I'm not sure that showing people this number right now would help them make a decision. Our images are mainly used by us at this point. So it would look pretty low.

[2021-06-17 18:15] carolynvs commented on #1459
This has been fixed in the [v1.0.0-alpha.2](https://github.com/getporter/porter/releases/tag/v1.0.0-alpha.2) prerelease. Please give it a try and let us know if you run into any problems!

[2021-06-17 18:15] #1459 closed

[2021-06-19 05:43] DARK-art108 commented on #1513
@carolynvs is this still open! Like we are updating our docs to the new version so is it is required now!

[2021-06-19 21:12] divbhasin opened #1647 "Example bundles don't all work with v1 prerelease"
## Describe the bug
The https://porter.sh/quickstart/#understand-a-bundle section has the following command:
[code]

However, running it produces
[code]

## To Reproduce
Steps to reproduce the behavior:
1. Run `porter explain --reference getporter/wordpress:v0.1.3`
2. See error

## Expected behavior
There should be no yaml errors and it should give the normal explain output

## Version
porter v1.0

[2021-06-19 21:14] divbhasin commented on #1647
I figured out the issue here but do not know where the wordpress bundle lives to patch it. Essentially, the bundle's `porter.yaml` file should have:
[code]

instead of

[code]

[2021-06-21 14:07] carolynvs commented on #1647
@divbhasin Unfortunately this is due to us making a breaking change in the v1 prerelease of Porter. The examples all work with the current stable release of Porter, (v0.38.3).

I am not sure that there is a good way to avoid this problem and we need a v1 page on the site that explains things like this as there may be more down the road.

If you install the latest stable version of Porter, not the

[2021-06-21 14:27] #1624 closed

[2021-06-21 14:38] carolynvs commented on #1513
@DARK-art108 Yes, it's still open and I have been slowly working on it. I have a [reorganized document structure](https://hackmd.io/roa3Nfh4SruG0FFKyJwb7Q?view) that I think would work better for us.

We have another open issue, #1644, to split up the site's doc into multiple versions (so that people can see docs relevant to the major version of Porter that they are working on)

[2021-06-21 15:08] DARK-art108 opened #1648 "Adding up some more FAQ in Porter FAQ"
**What design is being proposed?**
We can add some more FAQs to Porter so that beginners can resolve most of the queries and doubts from their only! As I see our Porter FAQ is well maintained, But some beginners question can be added! I have scrapped some of my questions and their possible answer is given in slack.

Google Doc : https://docs.google.com/document/d/1SC59GRtcFgyy-23ZpnQcWqATOIR5dq6bP

[2021-06-22 17:06] carolynvs commented on #1648
@DARK-art108 Would you like to add the new questions from your document to the official FAQ on the website? https://github.com/getporter/porter/blob/main/docs/content/faq.md

[2021-06-22 17:10] DARK-art108 commented on #1648
Yes, I will add it soon!

[2021-06-22 17:25] adammitha commented on #1600
Hi @carolynvs can I take this on?

[2021-06-22 20:08] carolynvs commented on #1600
This is fixed in the v1 prerelease

[2021-06-22 20:08] #1600 closed

[2021-06-22 22:26] joegilley opened #1650 "loading a second env group in an app overrides the first env group"
## Describe the bug
Loading a second env group in an app overrides the first env group.

## To Reproduce
Steps to reproduce the behavior:

1. Have two or more env groups setup, and 1 application.
2. Load 1 env group on an application
3. Immediately load a different env group.

## Expected behavior
Expected environment variables from both groups to be added to the application.

## Version
website.

[2021-06-23 19:04] carolynvs commented on #1650
Hey Joe, can you provide more detail on what you are doing, and what you have tried? I am unsure what you mean by environment group, or loading an environment group on an application.

Are you having trouble specifying multiple parameter sets with `porter install -p myEnvVars1 -p myEnvVars2`?

[2021-06-25 19:56] dirien commented on #631
Hi @carolynvs ,

i would like to help to finish this issue. I would use the [goreleaser](https://goreleaser.com/) for this. As we would not need to write any Ruby files etc...

I do this for my own cli project -> https://github.com/dirien/k3sair-cli

What do you think?

[2021-06-25 20:11] carolynvs commented on #631
I have concerns about using goreleaser because it would result in different binaries than what we build in our own pipeline. So people on homebrew would have different binaries than people who downloaded from a github release.

But I would love help getting a homebrew installer for Porter! So please take a look and we can figure out what needs to be done.

[2021-06-26 10:03] sestegra commented on #631
The formula has been updated to support Mac and Linux, as Homewbrew decided to merge Homebrew and Linuxbrew to a single project (see https://github.com/getporter/homebrew/pull/8).

I suggest to use [dawidd6/action-homebrew-bump-formula](https://github.com/dawidd6/action-homebrew-bump-formula) Github action that could be triggered by [getporter/porter](https://github.com/getporter/porter) project.

[2021-06-26 14:38] shikharcodes commented on #1635
Hey @DARK-art108, which badges are required to be added to the README file? I would be happy to work on adding them.

[2021-06-29 20:41] joegilley commented on #1650
nope, this is an issue using porter dashboard.

an "environment group" is a porter concept: https://dashboard.getporter.dev/env-groups:
![image](https://user-images.githubusercontent.com/1476969/123863740-d0a8e100-d8de-11eb-9b89-d4fc99c8d37d.png).

And porter lets you load an env group from the application settings using the button:
![image](https://user-images.githubusercontent.com/1476969/123863

[2021-06-29 20:45] joegilley commented on #1650
ah. 🤦 .  this is not https://github.com/porter-dev/porter

[2021-06-29 20:45] #1650 closed

[2021-06-30 15:34] carolynvs commented on #1650
Phew! I was super confused for a minute. 👍

[2021-07-01 14:03] #1408 closed

[2021-07-01 14:40] carolynvs commented on #1080
Here's the extra commands that we need to implement for this issue:

[code]

I realize that we _used_ to have dry run on this command and I removed it years ago. 🤦‍♀️ We have since had a lot of feedback about how people want to use this command (to generate the file for use in CI, not saving it to Porter's storage). With this someone can generate a template with:

[code]

The saved file would look

[2021-07-01 15:23] carolynvs commented on #1080
[code]

We may also want an import command too. TBD

[2021-07-03 15:47] jaudiger opened #1661 "How to properly bind local folder using docker-compose mixin"
**What is your question?**

I'm trying to bind a local folder using docker-compose.yml, I first tried with a complex docker-compose.yml file, and I was getting weird problems. After few investigations, I found the culprit, and I think I missed something. Right now the volume is not bound correctly when using the porter tool, but if I'm only using the docker-compose tool, it's working as expected.

[2021-07-03 15:57] jaudiger opened #1662 "Specify the full docker registry name"
**What is your question?**
Is there a possibility to fully provide the docker registry name by just writing it inside the porter.yaml file? Today the full registry name is composed of {REGISTRY}/{NAME}-installer. But it seems that there is no way to not use `-installer`. I understand that this is the default behavior and help to understand the purpose of the docker registry hosting the Porter bund

[2021-07-03 16:11] jaudiger opened #1663 "Python version upgrade in docker-compose mixin"
**What is your question?**
When I try to use the docker-compose mixin, this log is produced:

[code]

According to this PEP (https://www.python.org/dev/peps/pep-0478/), Python 3.5 has reached its end of life since September 2020. Regarding a production deployment, I found the warning problematic talking about security issues since the script is using a Python version that is no more maintained.

M

[2021-07-06 07:43] jaudiger opened #1666 "Failed to publish to AWS ECR"
## Describe the bug
I was trying to do `porter publish` command, but I encountered an issue just after the publish. I got the following logs:

[code]

Even if I see this error, when I go inside the ECR repository, I'm able to see an image pushed.

## To Reproduce
Steps to reproduce the behavior:
1. Run `porter build`
2. Run `porter publish`
4. See error

## Version

porter v0.38.1 (3018b91c)

[2021-07-06 14:11] vdice commented on #1666
Hi @jaudiger, would you be able to try again after pre-creating repos for the `application-installer` installer image and `application` bundle in the ECR account?  I noticed the following footnote around ECR support in [Porter's list of compatible registries](https://porter.sh/compatible-registries/):

`Amazon Elastic Container Registry (ECR) requires that you create the repository for the install

[2021-07-06 14:45] jaudiger commented on #1666
Thanks for your response, you were right after the creation of the second repository, I got it working. I didn't pay attention to this point in the documentation. Thanks.

Anyway just after doing the command porter publish, I got the following artifacts inside `application` repository:

![image](https://user-images.githubusercontent.com/31616285/124619895-509fef80-de79-11eb-820f-001555c05447.png)

[2021-07-06 15:07] vdice commented on #1666
Interesting, I'm not quite sure why those are present there.  When I look at a bundle that I've pushed to my [ghcr.io registry](https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry), I don't see untagged artifacts.  Could they be from the previous, failed publish actions?  Would it be possible to delete them and see if they are repopulated

[2021-07-06 15:15] vdice commented on #1662
Thanks for your question.  While there is a way to specify the full bundle reference (via [reference](https://porter.sh/author-bundles/#bundle-metadata)), the installer/invocation image name will always be derived from the bundle reference.  To differentiate the installer image name from the bundle name, the `-installer` suffix is added.  At this time, there isn't a way to define a custom installe

[2021-07-06 16:02] vdice commented on #1663
@jaudiger Thank you for bringing this up.  The installation steps for the docker-compose mixin hadn't been revisited in while.  I took this opportunity to update and simplify per Docker's latest installation documentation: https://github.com/getporter/docker-compose-mixin/pull/18.  This update also eliminates the warning/log mentioned above.

[2021-07-07 06:26] jaudiger commented on #1663
Thanks, @vdice to have brought up a PR! Let me know when it is merged, I'll try it ASAP once the mixin is updated.

I was also wondering if the Docker Version could be updated to the latest version available (https://docs.docker.com/compose/release-notes/). What do you think?